{{#if docs_include}}
<div class="docs-btn-wrapper">
	<a href="#" title="Source" class="btn btn-info source-btn">
	    <i class="glyph-icon icon-code"></i>
	    Source
	</a>
</div>
    <a href="#" class="example-close-modal" title="Close">
        <i class="glyph-icon icon-times"></i>
    </a>
{{/if}}