<div class="remove-production">

    <div class="content-box">
        <h3 class="content-box-header bg-default">
            <i class="glyph-icon icon-picture-o"></i>
            Common styles
        </h3>
        <div class="content-box-wrapper">
            <h4 class="text-transform-upr font-gray font-size-16">Framework inherited</h4>
            <div class="pad10B">
                <div class="bs-label label-info" title=".bg-blue"></div>
                <div class="bs-label label-danger" title=".bg-red"></div>
                <div class="bs-label label-success" title=".bg-green"></div>
                <div class="bs-label label-warning" title=".bg-orange"></div>
                <div class="bs-label label-white" title=".bg-white"></div>
                <div class="bs-label label-gray" title=".bg-gray"></div>
                <div class="bs-label label-gray-alt" title=".bg-gray-alt"></div>

                <div class="bs-label label-azure" title=".bg-azure"></div>
                <div class="bs-label label-purple" title=".bg-purple"></div>
                <div class="bs-label label-blue-alt" title=".bg-blue-alt"></div>
                <div class="bs-label label-yellow" title=".bg-yellow"></div>
                <div class="bs-label label-black" title=".bg-black"></div>
            </div>
            <p class="font-gray-dark">
                The core color helpers can be applied to all kind of elements from buttons to icons, headers, headings, etc. They do not change when you switch to a different theme from the same template.
            </p>

            <div class="divider"></div>

            <h4 class="text-transform-upr font-gray font-size-16">Theme inherited</h4>
            <div class="pad10B">
                <div class="bs-label label-primary" title=".bg-primary"></div>
                <div class="bs-label label-default" title=".bg-default"></div>
            </div>
            <p class="font-gray-dark">
                These are the template default color schemes and are used site wide to consistently style common elements. For the primary color you must add <b>.bg-primary</b> and for the secondary color you must add <b>.ui-state-default</b>. Note that theme two styles change based on what color scheme you choose for your template.
            </p>
        </div>
    </div>

</div>
