---
title: Carousels | Monarch
subheading: Create beautiful full width responsive carousels
---
<body>
{{> tophook }}{{> topbar }}
{{> header }}
<div class="hero-box hero-box-smaller full-bg-5 font-inverse" data-top-bottom="background-position: 50% 0px;" data-bottom-top="background-position: 50% -600px;">
    <div class="container">
        <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Carousels</h1>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">{{ subheading }}</p>
    </div>
    <div class="hero-overlay bg-black"></div>
</div>

<!-- Owl carousel -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/owlcarousel/owlcarousel.css">-->
<script type="text/javascript" src="../../assets/widgets/owlcarousel/owlcarousel.js"></script>
<script type="text/javascript" src="../../assets/widgets/owlcarousel/owlcarousel-demo.js"></script>

<div class="container">
    <h3 class="p-title">
        <span>Fullwidth carousel</span>
    </h3>
</div>


<div class="owl-carousel-1 slider-wrapper carousel-wrapper">

<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <h3 class="thumb-heading animated bounceIn">
                        Railroad bridge
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-primary"></div>
        <img src="../../assets/image-resources/stock-images/img-1.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <h3 class="thumb-heading animated rollIn">
                        Beautiful garden
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-black"></div>
        <img src="../../assets/image-resources/stock-images/img-2.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <h3 class="thumb-heading animated fadeInDown">
                        Sunrays flowers
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-primary"></div>
        <img src="../../assets/image-resources/stock-images/img-3.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <h3 class="thumb-heading animated flipInX">
                        Seeing a DJs work
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-blue"></div>
        <img src="../../assets/image-resources/stock-images/img-4.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <div class="thumb-btn animated bounceInDown">
                        <a href="#" class="btn btn-md btn-round btn-success" title=""><i class="glyph-icon icon-check"></i></a>
                        <a href="#" class="btn btn-md btn-round btn-danger" title=""><i class="glyph-icon icon-remove"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-primary"></div>
        <img src="../../assets/image-resources/stock-images/img-5.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <div class="thumb-btn animated zoomIn">
                        <a href="#" class="btn btn-lg btn-round btn-success" title=""><i class="glyph-icon icon-check"></i></a>
                        <a href="#" class="btn btn-lg btn-round btn-danger" title=""><i class="glyph-icon icon-remove"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-gray"></div>
        <img src="../../assets/image-resources/stock-images/img-6.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <div class="thumb-btn animated rotateIn">
                        <a href="#" class="btn btn-lg btn-round btn-primary" title=""><i class="glyph-icon icon-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-black"></div>
        <img src="../../assets/image-resources/stock-images/img-7.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <div class="thumb-btn animated bounceIn">
                        <a href="#" class="btn btn-xlg btn-round btn-primary" title=""><i class="glyph-icon icon-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-blue-alt"></div>
        <img src="../../assets/image-resources/stock-images/img-8.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-music"></i>
                </div>
            </div>
            <i class="icon-helper icon-br animated bounceInDown bg-danger glyph-icon icon-plus"></i>
        </div>
        <div class="thumb-overlay bg-primary"></div>
        <img src="../../assets/image-resources/stock-images/img-9.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated pulse font-white glyph-icon icon-linecons-search"></i>
                </div>
            </div>
            <i class="icon-helper icon-tr animated rotateIn bg-green glyph-icon icon-plus"></i>
        </div>
        <div class="thumb-overlay bg-danger"></div>
        <img src="../../assets/image-resources/stock-images/img-10.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated swing font-white glyph-icon icon-linecons-location"></i>
                </div>
            </div>
            <i class="icon-helper icon-bl animated zoomIn bg-black glyph-icon icon-plus"></i>
        </div>
        <div class="thumb-overlay bg-azure"></div>
        <img src="../../assets/image-resources/stock-images/img-11.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                </div>
            </div>
            <i class="icon-helper icon-tl animated fadeIn bg-black glyph-icon icon-plus"></i>
        </div>
        <div class="thumb-overlay bg-black"></div>
        <img src="../../assets/image-resources/stock-images/img-12.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box thumbnail-box-inverse">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <h3 class="thumb-heading animated bounceIn">
                        Cookie monsters
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-black"></div>
        <img src="../../assets/image-resources/stock-images/img-13.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box thumbnail-box-inverse">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-music"></i>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-primary"></div>
        <img src="../../assets/image-resources/stock-images/img-14.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box thumbnail-box-inverse">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <h3 class="thumb-heading animated rollIn">
                        Tables at work
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-orange"></div>
        <img src="../../assets/image-resources/stock-images/img-15.jpg" alt="">
    </div>
</div>
<div>
    <div class="thumbnail-box thumbnail-box-inverse">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-blue-alt"></div>
        <img src="../../assets/image-resources/stock-images/img-16.jpg" alt="">
    </div>
</div>
<div>
    <div class="thumbnail-box thumbnail-box-inverse">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-blue-alt"></div>
        <img src="../../assets/image-resources/stock-images/img-21.jpg" alt="">
    </div>
</div>
<div>
    <div class="thumbnail-box thumbnail-box-inverse">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-blue-alt"></div>
        <img src="../../assets/image-resources/stock-images/img-22.jpg" alt="">
    </div>
</div>

</div>

<div class="container">
    <h3 class="p-title">
        <span>Alternate styles</span>
    </h3>
    <div class="owl-carousel-1 slider-wrapper inverse arrows-outside carousel-wrapper">

        <div>
            <div class="thumbnail-box-wrapper mrg5A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img src="../../assets/image-resources/stock-images/img-17.jpg" alt="">
                </div>
                <div class="thumb-pane">
                    <h3 class="thumb-heading animated rollIn">
                        <a href="#" title="">
                            Working in the morning
                        </a>
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div>
            <div class="thumbnail-box-wrapper mrg5A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img src="../../assets/image-resources/stock-images/img-18.jpg" alt="">
                </div>
                <div class="thumb-pane">
                    <h3 class="thumb-heading animated rollIn">
                        <a href="#" title="">
                            Working in the morning
                        </a>
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div>
            <div class="thumbnail-box-wrapper mrg5A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img src="../../assets/image-resources/stock-images/img-19.jpg" alt="">
                </div>
                <div class="thumb-pane">
                    <h3 class="thumb-heading animated rollIn">
                        <a href="#" title="">
                            Working in the morning
                        </a>
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div>
            <div class="thumbnail-box-wrapper mrg5A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img src="../../assets/image-resources/stock-images/img-20.jpg" alt="">
                </div>
                <div class="thumb-pane">
                    <h3 class="thumb-heading animated rollIn">
                        <a href="#" title="">
                            Working in the morning
                        </a>
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div>
            <div class="thumbnail-box-wrapper mrg5A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img src="../../assets/image-resources/stock-images/img-23.jpg" alt="">
                </div>
                <div class="thumb-pane">
                    <h3 class="thumb-heading animated rollIn">
                        <a href="#" title="">
                            Working in the morning
                        </a>
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div>
            <div class="thumbnail-box-wrapper mrg5A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img src="../../assets/image-resources/stock-images/img-24.jpg" alt="">
                </div>
                <div class="thumb-pane">
                    <h3 class="thumb-heading animated rollIn">
                        <a href="#" title="">
                            Working in the morning
                        </a>
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <h3 class="p-title">
        <span>Testimonials carousel</span>
    </h3>
</div>

<div class="owl-carousel-1 col-md-11 center-margin slider-wrapper carousel-wrapper carousel-wrapper-alt carousel-container mrg25B">

    <div>
        <div class="testimonial-box">
            <div class="popover top mrg10A">
                <div class="arrow float-right"></div>
                <div class="popover-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
            </div>
            <div class="testimonial-author-wrapper">
                <img class="img-circle float-right" src="../../assets/image-resources/people/testimonial1.jpg" alt="" />
                <div class="testimonial-author text-right">
                    <b>John Wayne</b>
                    <span>Manager, ACME Inc.</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="testimonial-box">
            <div class="popover top mrg10A">
                <div class="arrow float-right"></div>
                <div class="popover-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
            </div>
            <div class="testimonial-author-wrapper">
                <img class="img-circle float-right" src="../../assets/image-resources/people/testimonial2.jpg" alt="" />
                <div class="testimonial-author text-right">
                    <b>John Wayne</b>
                    <span>Manager, ACME Inc.</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="testimonial-box">
            <div class="popover top mrg10A">
                <div class="arrow float-right"></div>
                <div class="popover-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
            </div>
            <div class="testimonial-author-wrapper">
                <img class="img-rounded float-right" src="../../assets/image-resources/people/testimonial3.jpg" alt="" />
                <div class="testimonial-author text-right">
                    <b>John Wayne</b>
                    <span>Manager, ACME Inc.</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="testimonial-box">
            <div class="popover top mrg10A">
                <div class="arrow float-right"></div>
                <div class="popover-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
            </div>
            <div class="testimonial-author-wrapper">
                <img class="img-rounded float-right" src="../../assets/image-resources/people/testimonial4.jpg" alt="" />
                <div class="testimonial-author text-right">
                    <b>John Wayne</b>
                    <span>Manager, ACME Inc.</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="testimonial-box">
            <div class="popover top mrg10A">
                <div class="arrow float-right"></div>
                <div class="popover-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
            </div>
            <div class="testimonial-author-wrapper">
                <img class="img-rounded float-right" src="../../assets/image-resources/people/testimonial5.jpg" alt="" />
                <div class="testimonial-author text-right">
                    <b>John Wayne</b>
                    <span>Manager, ACME Inc.</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="testimonial-box">
            <div class="popover top mrg10A">
                <div class="arrow float-right"></div>
                <div class="popover-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
            </div>
            <div class="testimonial-author-wrapper">
                <img class="img-rounded float-right" src="../../assets/image-resources/people/testimonial6.jpg" alt="" />
                <div class="testimonial-author text-right">
                    <b>John Wayne</b>
                    <span>Manager, ACME Inc.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br />

{{> footer }}{{> bottomhook }}