---
title: Call to action boxes | Monarch
subheading: Helps you increase conversion rates.
---
<body>
{{> tophook }}{{> topbar }}
{{> header }}
<div class="hero-box hero-box-smaller full-bg-1 font-inverse" data-top-bottom="background-position: 50% 0px;" data-bottom-top="background-position: 50% -600px;">
    <div class="container">
        <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Call to action boxes</h1>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">{{ subheading }}</p>
    </div>
    <div class="hero-overlay bg-black"></div>
</div>

<div class="container">
    <h3 class="p-title">
        <span>Basic</span>
    </h3>
</div>

<div class="cta-box small-padding bg-black">
    <p class="cta-text">Tons of call to action boxes at your disposal.</p>
    <a href="#" class="btn btn-lg cta-btn font-size-14 btn-success text-transform-upr" title="">
        Get it now
    </a>
    <a href="#" class="btn btn-lg cta-btn font-size-14 btn-warning font-white text-transform-upr" title="">
        Features Tour
    </a>
</div>
<br /><br />
<div class="cta-box small-padding bg-blue">
    <p class="cta-text">Tons of call to action boxes at your disposal.</p>
    <button class="btn btn-alt btn-hover btn-lg btn-outline-inverse remove-bg">
        <span>Send us an email</span>
        <i class="glyph-icon icon-arrow-right"></i>
    </button>
</div>
<br /><br />
<div class="cta-box large-padding bg-green">
    <p class="font-size-23 cta-text">Tons of call to action boxes at your disposal.</p>
    <div class="clear mrg15T mrg15B"></div>
    <button class="mrg5R btn btn-alt btn-hover btn-lg btn-outline-inverse remove-bg">
        <span>Support</span>
        <i class="glyph-icon icon-arrow-right"></i>
    </button>
    <button class="btn btn-alt btn-hover btn-lg btn-outline-inverse remove-bg">
        <span>Documentation</span>
        <i class="glyph-icon icon-bar-chart-o"></i>
    </button>
</div>

<div class="container">
    <h3 class="p-title">
        <span>CTA Button</span>
    </h3>
</div>

<div class="cta-box-btn bg-yellow">
    <div class="container">
        <a href="#" class="btn btn-info" title="">
            Join our team
            <span>It takes less than 5 minutes to get everything set up.</span>
        </a>
    </div>
</div>

<div class="container">
    <h3 class="p-title">
        <span>Vertical CTA Button</span>
    </h3>
</div>

<div class="cta-box-vertical bg-gray medium-padding">
    <div class="container">
        <h3>
            Start your subscription today
            <p>No startup fees for the rest of the year if you join today.</p>
        </h3>
        <a href="#" class="btn btn-success btn-lg hero-btn wow fadeInUp" data-wow-delay="0.4s" title="Create my account">
            Create my account
            <i class="glyph-icon icon-angle-right mrg5L"></i>
        </a>
    </div>
</div>

<br /><br />

{{> footer }}{{> bottomhook }}