---
title: Features boxes | Monarch
subheading: Create beautiful responsive slideshows.
---
<body>
{{> tophook }}{{> topbar }}
{{> header }}
<div class="hero-box hero-box-smaller full-bg-9 font-inverse" data-top-bottom="background-position: 50% 0px;" data-bottom-top="background-position: 50% -600px;">
    <div class="container">
        <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Features boxes</h1>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">{{ subheading }}</p>
    </div>
    <div class="hero-overlay bg-black"></div>
</div>

<!-- Owl carousel -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/owlcarousel/owlcarousel.css">-->
<script type="text/javascript" src="../../assets/widgets/owlcarousel/owlcarousel.js"></script>
<script type="text/javascript" src="../../assets/widgets/owlcarousel/owlcarousel-demo.js"></script>

<!-- Boostrap Tabs -->

<script type="text/javascript" src="../../assets/widgets/tabs/tabs.js"></script>

<div class="container">
    <h3 class="p-title">
        <span>Feature list with slider</span>
    </h3>
</div>

<div class="container">
    <div class="feature-box small-padding clearfix">
        <div class="feature-img">
            <div class="iphone-wrapper">
                <div class="iphone-screen"></div>
                <div class="iphone-content">
                    <div class="owl-slider-3 slider-wrapper">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-content">
            <div class="feature-heading">
                <h2>Which of us ever to take a trivial </h2>
                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
            </div>
            <ul class="feature-list">
                <li>
                    <i class="glyph-icon font-primary icon-camera"></i>
                    <span>
                        <b>Wonderful serenity has taken</b>
                        <p>Alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of.</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-anchor"></i>
                    <span>
                        <b>Steal into the inner sanctuary recently</b>
                        <p>It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman and above it there.?</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-bolt"></i>
                    <span>
                        <b>Little too small, lay peacefully between its</b>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss.</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-bullhorn"></i>
                    <span>
                        <b>Monarch Developer API</b>
                        <p>Lorem ipsum dolor sic amet dixit tu? Access Monarch's human room although a little too small.</p>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div class="feature-box small-padding clearfix">
        <div class="feature-img float-right">
            <div class="iphone-wrapper">
                <div class="iphone-screen"></div>
                <div class="iphone-content">
                    <div class="owl-slider-3 slider-wrapper">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-content">
            <div class="feature-heading">
                <h2>Which of us ever to take a trivial </h2>
                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
            </div>
            <ul class="feature-list">
                <li>
                    <i class="glyph-icon font-primary icon-camera"></i>
                    <span>
                        <b>Wonderful serenity has taken</b>
                        <p>Alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of.</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-anchor"></i>
                    <span>
                        <b>Steal into the inner sanctuary recently</b>
                        <p>It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman and above it there.?</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-bolt"></i>
                    <span>
                        <b>Little too small, lay peacefully between its</b>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss.</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-bullhorn"></i>
                    <span>
                        <b>Monarch Developer API</b>
                        <p>Lorem ipsum dolor sic amet dixit tu? Access Monarch's human room although a little too small.</p>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="p-title">
        <span>Featured icons</span>
    </h3>
</div>

<div class="hero-box full-bg-10 fixed-bg hero-box-smaller font-inverse">
    <div class="container">
        <div class="feature-icon col-md-10">
            <div class="feature-box-wrapper">
                <i data-wow-delay="1.1s" class="glyph-icon wow rollIn icon-linecons-database"></i>
                <h3 class="wow lightSpeedIn" data-wow-delay="0s">Wonderful serenity taken</h3>
                <p class="wow lightSpeedIn" data-wow-delay="0.3s"> I am alone, and feel the charm of existence in this spot, which was created for the bliss salesman and above it.</p>
            </div>
        </div>
        <div class="feature-icon col-md-10">
            <div class="feature-box-wrapper">
                <i data-wow-delay="1.3s" class="glyph-icon wow rollIn icon-linecons-diamond"></i>
                <h3 class="wow lightSpeedIn" data-wow-delay="0.6s">Steal into the inner</h3>
                <p class="wow lightSpeedIn" data-wow-delay="0.9s">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            </div>
        </div>
    </div>
    <div class="hero-overlay bg-black-opacity opacity-80"></div>
</div>

<div class="container">
    <h3 class="p-title">
        <span>Clients section box</span>
    </h3>
</div>

<div class="clients-box">
    <div class="container">
        <h3 class="clients-title font-primary">Charm of existence in this spot, which was created for the bliss</h3>
        <h4 class="clients-desc col-md-10 center-margin">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</h4>
    </div>
    <div class="row col-md-10 center-margin">
        <div class="col-md-2">
            <div class="content-box wow zoomInDown" data-wow-duration="0.8s" data-wow-delay="0s">
                <i class="glyph-icon font-red icon-linecons-beaker"></i>
            </div>
        </div>
        <div class="col-md-2">
            <div class="content-box wow zoomInDown" data-wow-duration="0.8s" data-wow-delay="0.1s">
                <i class="glyph-icon font-primary icon-linecons-sound"></i>
            </div>
        </div>
        <div class="col-md-2">
            <div class="content-box wow zoomInDown" data-wow-duration="0.8s" data-wow-delay="0.2s">
                <i class="glyph-icon font-yellow icon-linecons-cloud"></i>
            </div>
        </div>
        <div class="col-md-2">
            <div class="content-box wow zoomInDown" data-wow-duration="0.8s" data-wow-delay="0.3s">
                <i class="glyph-icon font-green icon-linecons-eye"></i>
            </div>
        </div>
        <div class="col-md-2">
            <div class="content-box wow zoomInDown" data-wow-duration="0.8s" data-wow-delay="0.4s">
                <i class="glyph-icon font-orange icon-linecons-attach"></i>
            </div>
        </div>
        <div class="col-md-2">
            <div class="content-box wow zoomInDown" data-wow-duration="0.8s" data-wow-delay="0.5s">
                <i class="glyph-icon font-purple icon-linecons-diamond"></i>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="p-title">
        <span>Tabs checklist box</span>
    </h3>
</div>
<div class="container">
    <h3 class="clients-title font-primary">Stunning Presentation Websites</h3>
    <div class="text-center">
        <span class="tick-feature">
            <i class="glyph-icon font-green icon-check"></i>
            A/B Testing Optimization
        </span>
        <span class="tick-feature">
            <i class="glyph-icon font-green icon-check"></i>
            Mobile Interface
        </span>
        <span class="tick-feature">
            <i class="glyph-icon font-green icon-check"></i>
            Modern User Experience
        </span>
    </div>
    <h4 class="clients-desc">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</h4>
    <ul class="tabs-nav" role="tablist">
        <li class="">
            <a href="#desktop" role="tab" data-toggle="tab">Easy to Customize</a>
        </li>
        <li class="active">
            <a href="#mobile" role="tab" data-toggle="tab">Bootstrap 3.3</a>
        </li>
        <li class="">
            <a href="#frontend" role="tab" data-toggle="tab">Documentation</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="desktop" class="tab-pane fade">
            <div class="container features-tour-box">
                <div class="row">
                    <div class="col-md-7">
                        <h3>Easy to customize</h3>
                        <p>Each widget has its own directory under /assets/widgets/ which makes things very organized and easy to use or modify. For example, you can exclude a widget that you'll not use just by removing a folder from the assets directory and a line of code from the markup.</p>
                        <p>Themes have their own /themes/ directory in which you could easily create a new theme without deleting the old one. Another useful thing is that there are different CSS files for the color schemes used for elements and the actual user interface.</p>
                        <ul>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Modular assets architecture
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Grunt automations
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Development &amp; production assets
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Color schemes can be easily modified
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Separate files for components and interfaces color styles
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <div class="bg-holder float-right">
                            <img src="../../assets/image-resources/objects/easy-to-customize.png" alt="Easy to customize">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile" class="tab-pane fade active in">
            <div class="container features-tour-box">
                <div class="row">
                    <div class="col-md-5">
                        <div class="bg-holder float-left">
                            <img src="../../assets/image-resources/objects/based-on-bootstrap.jpg" alt="Based on Bootstrap 3.2">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h3>Based on Bootstrap 3.3</h3>
                        <p>The AUI themes are powered by the latest versions of Bootstrap (v3.2.0), jQuery and all other widgets &amp; plugins included.</p>
                        <p>We make weekly checks to see if any of the components included have been updated by their developers. It's very important to us to keep things up to date with the latest versions. Also, we hope to developer an automatic update feature that will be available in your user account.</p>
                        <ul>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Source code examples
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Tutorials on how to work with the AUI core
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Styling guides for creating new color schemes
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Contact forms for new features requests and bug reports
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Free community support forums
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="frontend" class="tab-pane fade">
            <div class="container features-tour-box">
                <div class="row">
                    <div class="col-md-7">
                        <h3>Extensive documentation</h3>
                        <p>We know how important it is to keep things simple and to have them well documented. To make sure things go as smoothly as possible, when we added a new feature to the AUI framework core we immediately created the documentation for it.</p>
                        <p>The AUI documentation includes code example snippets for all components included and also tutorials and guide to get you working on your AUI based project as soon as possible and without headaches.</p>
                        <ul>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Source code examples
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Tutorials on how to work with the AUI core
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Styling guides for creating new color schemes
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Contact forms for new features requests and bug reports
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Free community support forums
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <div class="bg-holder float-right">
                            <img src="../../assets/image-resources/objects/extensive-documentation.png" alt="Extensive documentation">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<br /><br />

{{> footer }}{{> bottomhook }}