---
title: Slideshows | Monarch
subheading: Create beautiful responsive slideshows.
---
<body>
{{> tophook }}{{> topbar }}
{{> header }}
<div class="hero-box hero-box-smaller full-bg-9 font-inverse" data-top-bottom="background-position: 50% 0px;" data-bottom-top="background-position: 50% -600px;">
    <div class="container">
        <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Slideshows</h1>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">{{ subheading }}</p>
    </div>
    <div class="hero-overlay bg-black"></div>
</div>

<!-- Owl carousel -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/owlcarousel/owlcarousel.css">-->
<script type="text/javascript" src="../../assets/widgets/owlcarousel/owlcarousel.js"></script>
<script type="text/javascript" src="../../assets/widgets/owlcarousel/owlcarousel-demo.js"></script>

<div class="container">
    <h3 class="p-title">
        <span>Image slider</span>
    </h3>

    <div class="owl-slider-1 slider-wrapper">
        <div>
            <img src="../../assets/image-resources/slides-bg/slide-1.jpg" class="img-full" alt="Example alternate text">
        </div>
        <div>
            <img src="../../assets/image-resources/slides-bg/slide-2.jpg" class="img-full" alt="Example alternate text">
        </div>
        <div>
            <img src="../../assets/image-resources/slides-bg/slide-3.jpg" class="img-full" alt="Example alternate text">
        </div>
        <div>
            <img src="../../assets/image-resources/slides-bg/slide-4.jpg" class="img-full" alt="Example alternate text">
        </div>
        <div>
            <img src="../../assets/image-resources/slides-bg/slide-5.jpg" class="img-full" alt="Example alternate text">
        </div>
    </div>
</div>

<div class="container">
    <h3 class="p-title">
        <span>Full width</span>
    </h3>
</div>

<div class="owl-slider-1 slider-wrapper">
    <div>
        <img src="../../assets/image-resources/slides-bg/slide-1.jpg" class="img-full" alt="Example alternate text">
    </div>
    <div>
        <img src="../../assets/image-resources/slides-bg/slide-2.jpg" class="img-full" alt="Example alternate text">
    </div>
    <div>
        <img src="../../assets/image-resources/slides-bg/slide-3.jpg" class="img-full" alt="Example alternate text">
    </div>
    <div>
        <img src="../../assets/image-resources/slides-bg/slide-4.jpg" class="img-full" alt="Example alternate text">
    </div>
    <div>
        <img src="../../assets/image-resources/slides-bg/slide-5.jpg" class="img-full" alt="Example alternate text">
    </div>
</div>

<div class="container">
    <h3 class="p-title">
        <span>Content sliders</span>
    </h3>
</div>

<div class="owl-slider-2 slider-wrapper">

    <div class="poly-bg-1 hero-box font-inverse hero-box-smaller">
        <div class="container clearfix">
            <div class="col-md-4 img-holder wow fadeInUp">
                <img src="../../assets/image-resources/objects/phone-1.png" alt="">
            </div>
            <div class="col-md-8">
                <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Overlay &amp; Pattern</h1>
                <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                <a href="#" class="btn-outline-inverse hero-btn wow fadeInUp" data-wow-delay="0.4s" title="Purchase Button">Find out more</a>
            </div>
        </div>
    </div>
    <div class="hero-box full-bg-4 font-inverse">
        <div class="container">
            <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s" style="visibility: visible; -webkit-animation: 0.6s;">Dark overlay</h1>
            <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation: 0.9s 0.2s;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
        </div>
        <div class="hero-overlay hero-dark"></div>
    </div>
    <div class="hero-box full-bg-9 font-inverse" data-top-bottom="background-position: 50% 0px;" data-bottom-top="background-position: 50% -600px;">
        <div class="container">
            <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Scrolling background</h1>
            <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            <a href="#" class="btn title-button hero-btn btn-primary wow fadeInUp" data-wow-delay="0.4s" title="Purchase Button">Purchase now</a>
        </div>
        <div class="hero-overlay bg-black"></div>
    </div>
    <div class="hero-box poly-bg-2 hero-box-smaller font-inverse">
        <div class="container">
            <h2 class="hero-heading wow fadeInDown" data-wow-duration="0.6s" style="visibility: visible; -webkit-animation: 0.6s;">Highly customizable hero boxes</h2>
            <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation: 0.9s 0.2s;">This hero box examples has an action button and smaller spacing. Like these sweet mornings of spring which I enjoy with my whole heart.</p>
            <a href="#" class="btn-outline-inverse hero-btn wow fadeInUp" data-wow-delay="0.4s" title="Purchase Button" style="visibility: visible; -webkit-animation: 0.4s;">Purchase now</a>
        </div>
    </div>
    <div class="poly-bg-4 hero-box hero-right font-inverse hero-box-smaller">
        <div class="container clearfix">
            <div class="col-md-7">
                <h3 class="hero-heading wow fadeInDown mrg20B" data-wow-duration="0.6s">Overlay &amp; Pattern</h3>
                <p class="hero-text wow bounceInUp mrg25B" data-wow-duration="0.9s" data-wow-delay="0.2s">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                <a href="#" class="btn-outline-inverse hero-btn wow fadeInUp" data-wow-delay="0.4s" title="Purchase Button">Find out more</a>
            </div>
            <div class="col-md-5 img-holder wow fadeInUp">
                <img src="../../assets/image-resources/objects/phone-1.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="p-title">
        <span>Feature list with slider</span>
    </h3>
</div>

<div class="container">
    <div class="feature-box small-padding clearfix">
        <div class="feature-img">
            <div class="iphone-wrapper">
                <div class="iphone-screen"></div>
                <div class="iphone-content">
                    <div class="owl-slider-3 slider-wrapper">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-content">
            <div class="feature-heading">
                <h2>Which of us ever to take a trivial </h2>
                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
            </div>
            <ul class="feature-list">
                <li>
                    <i class="glyph-icon font-primary icon-camera"></i>
                    <span>
                        <b>Wonderful serenity has taken</b>
                        <p>Alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of.</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-anchor"></i>
                    <span>
                        <b>Steal into the inner sanctuary recently</b>
                        <p>It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman and above it there.?</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-bolt"></i>
                    <span>
                        <b>Little too small, lay peacefully between its</b>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss.</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-bullhorn"></i>
                    <span>
                        <b>Monarch Developer API</b>
                        <p>Lorem ipsum dolor sic amet dixit tu? Access Monarch's human room although a little too small.</p>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div class="feature-box small-padding clearfix">
        <div class="feature-img float-right">
            <div class="iphone-wrapper">
                <div class="iphone-screen"></div>
                <div class="iphone-content">
                    <div class="owl-slider-3 slider-wrapper">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-content">
            <div class="feature-heading">
                <h2>Which of us ever to take a trivial </h2>
                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
            </div>
            <ul class="feature-list">
                <li>
                    <i class="glyph-icon font-primary icon-camera"></i>
                    <span>
                        <b>Wonderful serenity has taken</b>
                        <p>Alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of.</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-anchor"></i>
                    <span>
                        <b>Steal into the inner sanctuary recently</b>
                        <p>It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman and above it there.?</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-bolt"></i>
                    <span>
                        <b>Little too small, lay peacefully between its</b>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss.</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-bullhorn"></i>
                    <span>
                        <b>Monarch Developer API</b>
                        <p>Lorem ipsum dolor sic amet dixit tu? Access Monarch's human room although a little too small.</p>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<br /><br />

{{> footer }}{{> bottomhook }}