---
title: Testimonials | Monarch
subheading: Create testimonial boxes on the fly.
---
<body>
{{> tophook }}{{> topbar }}
{{> header }}
<div class="hero-box hero-box-smaller full-bg-5 font-inverse" data-top-bottom="background-position: 50% 0px;" data-bottom-top="background-position: 50% -600px;">
    <div class="container">
        <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Testimonials</h1>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">{{ subheading }}</p>
    </div>
    <div class="hero-overlay bg-black"></div>
</div>

<div class="container">
    <h3 class="p-title">
        <span>Speech bubbles</span>
    </h3>

    <div class="row">
        <div class="col-md-6">

            <div class="testimonial-box testimonial-box-alt">
                <div class="testimonial-content bg-black">
                    <div class="testimonial-arrow border-black"></div>
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
                </div>
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="../../assets/image-resources/people/testimonial1.jpg" alt="" />
                    <div class="testimonial-author">
                        <b>John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="testimonial-box testimonial-box-alt">
                <div class="testimonial-content radius-all-4 bg-green">
                    <div class="testimonial-arrow border-green arrow-rounded"></div>
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. To an English person, it will seem like simplified English.</p>
                </div>
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="../../assets/image-resources/people/testimonial2.jpg" alt="" />
                    <div class="testimonial-author">
                        <b>John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="testimonial-box testimonial-box-alt">
                <div class="testimonial-content radius-all-8 bg-blue">
                    <div class="testimonial-arrow border-blue arrow-rounded"></div>
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
                </div>
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="../../assets/image-resources/people/testimonial3.jpg" alt="" />
                    <div class="testimonial-author">
                        <b>John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="testimonial-box testimonial-box-alt">
                <div class="testimonial-content radius-all-4 bg-purple">
                    <div class="testimonial-arrow"></div>
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>
                </div>
                <div class="testimonial-author-wrapper">
                    <div class="testimonial-author">
                        <b class="font-gray-dark">John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="testimonial-box testimonial-box-alt">
                <div class="testimonial-content radius-all-2 bg-orange">
                    <div class="testimonial-arrow border-orange arrow-rounded"></div>
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members.</p>
                </div>
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="../../assets/image-resources/people/testimonial4.jpg" alt="" />
                    <div class="testimonial-author">
                        <b class="font-green">John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="testimonial-box testimonial-box-alt">
                <div class="testimonial-content bg-primary">
                    <div class="testimonial-arrow border-primary"></div>
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members.</p>
                </div>
                <div class="testimonial-author-wrapper">
                    <div class="testimonial-author">
                        <b class="font-red">John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    
    <h3 class="p-title">
        <span>Alternate styles</span>
    </h3>
    
    <div class="row">
        <div class="col-md-6">
            <div class="testimonial-box">
                <div class="popover top">
                    <div class="arrow float-right"></div>
                    <div class="popover-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple.</p>
                    </div>
                </div>
                <div class="testimonial-author-wrapper">
                    <img class="img-circle float-right" src="../../assets/image-resources/people/testimonial6.jpg" alt="" />
                    <div class="testimonial-author text-right">
                        <b>John Wayne</b>
                        <span>Designer, ACME Inc.</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="popover top">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <i class="glyph-icon icon-quote-right"></i>
                        <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth.</p>
                    </div>
                </div>
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="../../assets/image-resources/people/testimonial8.jpg" alt="" />
                    <div class="testimonial-author">
                        <b>John Wayne</b>
                        <span>Designer, ACME Inc.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="testimonial-box">
                <div class="popover top">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <i class="glyph-icon icon-quote-right"></i>
                        <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth. </p>
                    </div>
                </div>
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="../../assets/image-resources/people/testimonial5.jpg" alt="" />
                    <div class="testimonial-author">
                        <b>John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="popover top">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <i class="glyph-icon icon-quote-right"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing.</p>
                    </div>
                </div>
                <div class="testimonial-author-wrapper">
                    <img class="img-circle" src="../../assets/image-resources/people/testimonial7.jpg" alt="" />
                    <div class="testimonial-author">
                        <b>John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="p-title">
        <span>Full width</span>
    </h3>

    <div class="testimonial-box-big">
        <div class="testimonial-content">
            <i class="glyph-icon icon-quote-left"></i>
            <i class="glyph-icon icon-quote-right"></i>
            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>
        </div>
        <div class="testimonial-author-wrapper">
            <div class="testimonial-author">
                <b class="font-primary">John Wayne</b>
                <span>Manager, ACME Inc.</span>
            </div>
        </div>
    </div>

    <h3 class="p-title">
        <span>Carousel</span>
    </h3>

    <div class="owl-slider-5 inverse slider-wrapper">
        <div>
            <div class="testimonial-box-big">
                <div class="testimonial-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <i class="glyph-icon icon-quote-right"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
                <div class="testimonial-author-wrapper">
                    <div class="testimonial-author">
                        <b>John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="testimonial-box-big">
                <div class="testimonial-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <i class="glyph-icon icon-quote-right"></i>
                    <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge.</p>
                </div>
                <div class="testimonial-author-wrapper">
                    <div class="testimonial-author">
                        <b>John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="testimonial-box-big">
                <div class="testimonial-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <i class="glyph-icon icon-quote-right"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
                <div class="testimonial-author-wrapper">
                    <div class="testimonial-author">
                        <b>John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="testimonial-box-big">
                <div class="testimonial-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <i class="glyph-icon icon-quote-right"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
                <div class="testimonial-author-wrapper">
                    <div class="testimonial-author">
                        <b>John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    <h3 class="p-title">
        <span>Carousel columns</span>
    </h3>
    <div class="owl-carousel-1 col-md-11 center-margin slider-wrapper carousel-wrapper carousel-wrapper-alt carousel-container">

        <div>
            <div class="testimonial-box">
                <div class="popover top mrg10A">
                    <div class="arrow float-right"></div>
                    <div class="popover-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                    </div>
                </div>
                <div class="testimonial-author-wrapper">
                    <img class="img-circle float-right" src="../../assets/image-resources/people/testimonial1.jpg" alt="" />
                    <div class="testimonial-author text-right">
                        <b>John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="testimonial-box">
                <div class="popover top mrg10A">
                    <div class="arrow float-right"></div>
                    <div class="popover-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                    </div>
                </div>
                <div class="testimonial-author-wrapper">
                    <img class="img-circle float-right" src="../../assets/image-resources/people/testimonial2.jpg" alt="" />
                    <div class="testimonial-author text-right">
                        <b>John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="testimonial-box">
                <div class="popover top mrg10A">
                    <div class="arrow float-right"></div>
                    <div class="popover-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                    </div>
                </div>
                <div class="testimonial-author-wrapper">
                    <img class="img-rounded float-right" src="../../assets/image-resources/people/testimonial3.jpg" alt="" />
                    <div class="testimonial-author text-right">
                        <b>John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="testimonial-box">
                <div class="popover top mrg10A">
                    <div class="arrow float-right"></div>
                    <div class="popover-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                    </div>
                </div>
                <div class="testimonial-author-wrapper">
                    <img class="img-rounded float-right" src="../../assets/image-resources/people/testimonial4.jpg" alt="" />
                    <div class="testimonial-author text-right">
                        <b>John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="testimonial-box">
                <div class="popover top mrg10A">
                    <div class="arrow float-right"></div>
                    <div class="popover-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                    </div>
                </div>
                <div class="testimonial-author-wrapper">
                    <img class="img-rounded float-right" src="../../assets/image-resources/people/testimonial5.jpg" alt="" />
                    <div class="testimonial-author text-right">
                        <b>John Wayne</b>
                        <span>Manager, ACME Inc.</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="testimonial-box">
                <div class="popover top mrg10A">
                    <div class="arrow float-right"></div>
                    <div class="popover-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                    </div>
                </div>
                <div class="testimonial-author-wrapper">
                    <img class="img-rounded float-right" src="../../assets/image-resources/people/testimonial6.jpg" alt="" />
                <div class="testimonial-author text-right">
                    <b>John Wayne</b>
                    <span>Manager, ACME Inc.</span>
                </div>
            </div>
        </div>
    </div>
</div>

    <h3 class="p-title">
        <span>Carousel two columns</span>
    </h3>

    <div class="container mrg25B">

        <div class="mrg25B col-md-11 center-margin owl-carousel-3 inverse slider-wrapper carousel-wrapper carousel-wrapper-alt carousel-container">

            <div>
                <div class="testimonial-box mrg10A testimonial-box-alt">
                    <div class="testimonial-content radius-all-4 bg-green">
                        <div class="testimonial-arrow border-green arrow-rounded"></div>
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="radius-all-4" src="../../assets/image-resources/people/testimonial1.jpg" alt="">
                        <div class="testimonial-author">
                            <b>John Wayne</b>
                            <span>Manager, ACME Inc.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box mrg10A testimonial-box-alt">
                    <div class="testimonial-content radius-all-2 bg-orange">
                        <div class="testimonial-arrow border-orange arrow-rounded"></div>
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded" src="../../assets/image-resources/people/testimonial2.jpg" alt="">
                        <div class="testimonial-author">
                            <b class="font-green">John Wayne</b>
                            <span>Manager, ACME Inc.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box mrg10A testimonial-box-alt">
                    <div class="testimonial-content bg-black">
                        <div class="testimonial-arrow border-black"></div>
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-circle" src="../../assets/image-resources/people/testimonial3.jpg" alt="">
                        <div class="testimonial-author">
                            <b>John Wayne</b>
                            <span>Manager, ACME Inc.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{{> footer }}{{> bottomhook }}