<div class="content-box">
    <h3 class="content-box-header bg-default">
        Recent posts
    </h3>
    <div class="posts-list content-box-wrapper">
        <ul class="">
            <li>
                <div class="post-image">
                    <a href="../../assets/image-resources/stock-images/img-10.jpg" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                        <img class="img-responsive" src="../../assets/image-resources/stock-images/img-10.jpg" alt="" />
                    </a>
                </div>
                <div class="post-body">
                    <a class="post-title" href="blog-single.html" title="">
                        <h3>When our power of choice is untrammelled prevents</h3>
                    </a>
                    <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
                </div>
            </li>
            <li>
                <div class="post-image">
                    <a href="../../assets/image-resources/stock-images/img-11.jpg" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                        <img class="img-responsive" src="../../assets/image-resources/stock-images/img-11.jpg" alt="" />
                    </a>
                </div>
                <div class="post-body">
                    <a class="post-title" href="blog-single.html" title="">
                        <h3>And when nothing prevents our being able</h3>
                    </a>
                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</p>
                </div>
            </li>
            <li>
                <div class="post-image">
                    <a href="../../assets/image-resources/stock-images/img-12.jpg" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                        <img class="img-responsive" src="../../assets/image-resources/stock-images/img-12.jpg" alt="" />
                    </a>
                </div>
                <div class="post-body">
                    <a class="post-title" href="blog-single.html" title="">
                        <h3>When our power of choice is untrammelled</h3>
                    </a>
                    <p>Occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="list-group mrg20B">
    <a href="#" class="list-group-item">
        <i class="glyph-icon icon-dashboard"></i>
        Fashion
        <i class="glyph-icon icon-chevron-right"></i>
    </a>
    <a href="#" class="list-group-item">
        <i class="glyph-icon font-red icon-bullhorn"></i>
        Gadgets
        <i class="glyph-icon font-green icon-chevron-right"></i>
    </a>
    <a href="#" class="list-group-item">
        <i class="glyph-icon font-primary icon-camera"></i>
        Web applications
        <i class="glyph-icon icon-chevron-right"></i>
    </a>
    <a href="#" class="list-group-item">
        <i class="glyph-icon font-azure icon-gears"></i>
        Gaming
        <i class="glyph-icon icon-chevron-right"></i>
    </a>
    <a href="#" class="list-group-item disabled">
        <i class="glyph-icon font-blue-alt icon-globe"></i>
        Music
        <i class="glyph-icon icon-chevron-right"></i>
    </a>
</div>
<div class="content-box">
    <h3 class="content-box-header bg-default">
        Tags
    </h3>
    <div class="content-box-wrapper clearfix tags-list">
        <a href="#" title="" class="bs-label label-black">Moment</a>
        <a href="#" title="" class="bs-label label-black">Hand</a>
        <a href="#" title="" class="bs-label label-success">Gadgets</a>
        <a href="#" title="" class="bs-label label-warning">Demoralized</a>
        <a href="#" title="" class="bs-label label-success">Advantage</a>
        <a href="#" title="" class="bs-label label-black">Example</a>
        <a href="#" title="" class="bs-label label-black">Explorer</a>
        <a href="#" title="" class="bs-label label-warning">Demoralized</a>
        <a href="#" title="" class="bs-label label-success">Advantage</a>
        <a href="#" title="" class="bs-label label-black">Example</a>
        <a href="#" title="" class="bs-label label-black">Explorer</a>
        <a href="#" title="" class="bs-label label-black">Born</a>
    </div>
</div>
<div class="owl-slider-1 radius-all-4 slider-wrapper">
    <div>
        <img src="" data-original="../../assets/image-resources/stock-images/img-38.jpg" class="lazy radius-all-4 img-full">
    </div>
    <div>
        <img src="" data-original="../../assets/image-resources/stock-images/img-37.jpg" class="lazy radius-all-4 img-full">
    </div>
    <div>
        <img src="" data-original="../../assets/image-resources/stock-images/img-36.jpg" class="lazy radius-all-4 img-full">
    </div>
    <div>
        <img src="" data-original="../../assets/image-resources/stock-images/img-35.jpg" class="lazy radius-all-4 img-full">
    </div>
    <div>
        <img src="" data-original="../../assets/image-resources/stock-images/img-34.jpg" class="lazy radius-all-4 img-full">
    </div>
</div>