<div class="container">
    <a href="index.html" class="header-logo" title="Monarch - Create perfect presentation websites"></a><!-- .header-logo -->
    <div class="right-header-btn">
        <div id="mobile-navigation">
            <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target=".header-nav"><span></span></button>
        </div>
        <div class="search-btn">
            <a href="#" class="popover-button" title="Search" data-placement="bottom" data-id="#popover-search">
                <i class="glyph-icon icon-search"></i>
            </a>
            <div class="hide" id="popover-search">
                <div class="pad5A box-md">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search terms here ...">
                        <span class="input-group-btn">
                            <a class="btn btn-primary" href="#">Search</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .header-logo -->
    <ul class="header-nav collapse">
        <li>
            <a href="#" title="Homepages">
                Homepages
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <ul>
                <li><a href="index.html" title="Homepage example 1"><span>Homepage example 1</span></a></li>
                <li><a href="index-alt.html" title="Homepage example 2"><span>Homepage example 2</span></a></li>
                <li><a href="index-alt-2.html" title="Homepage example 3"><span>Homepage example 3</span></a></li>
                <li><a href="index-alt-4.html" title="Homepage example 5"><span>Homepage example 4</span></a></li>
                <li class="divider"></li>
                <li><a href="../admin-template/index.html" title="Admin dashboard 1"><span>Admin dashboard 1</span></a></li>
                <li><a href="../admin-template/index-alt.html" title="Admin dashboard 2"><span>Admin dashboard 2</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" title="Hero sections">
                Hero sections
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <ul class="footer-nav">
                <li><a href="hero-static.html" title="Static hero sections"><span>Static sections</span></a></li>
                <li><a href="hero-alignments.html" title="Hero alignments"><span>Hero alignments</span></a></li>
                <li><a href="hero-overlays.html" title="Hero overlays"><span>Hero overlays</span></a></li>
                <li><a href="hero-video.html" title="Hero with video backgrounds"><span>Video sections</span></a></li>
                <li><a href="hero-elements.html" title="Hero sections with elements"><span>Hero elements</span></a></li>
                <li><a href="hero-parallax.html" title="Hero with parallax backgrounds"><span>Parallax sections</span></a></li>
                <li><a href="hero-images.html" title="Hero with image backgrounds"><span>Hero backgrounds</span></a></li>
                <li><a href="hero-patterns.html" title="Hero with pattern backgrounds"><span>Hero patterns</span></a></li>
                <li><a href="hero-gradients.html" title="Hero with gradient backgrounds"><span>Hero gradients</span></a></li>
            </ul>
        </li>
        <li class="sf-mega">
            <a href="#" title="Features">
                Features
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <ul class="sf-mega-menu clearfix">
                <li class="col-lg-2 col-xs-12 col-sm-4 col-md-2">
                    <h3 class="header">Portfolios</h3>
                    <a href="portfolio-2col.html" title="Portfolio with 2 columns"><span>Portfolio 2 columns</span></a>
                    <a href="portfolio-3col.html" title="Portfolio with 3 columns"><span>Portfolio 3 columns</span></a>
                    <a href="portfolio-4col.html" title="Portfolio with 4 columns"><span>Portfolio 4 columns</span></a>
                    <a href="portfolio-masonry.html" title="Portfolio masonry"><span>Portfolio masonry</span></a>
                </li>
                <li class="col-lg-2 col-xs-12 col-sm-4 col-md-2">
                    <h3 class="header">Headers</h3>
                    <a href="header-fixed.html" title="Fixed header"><span>Fixed header</span></a>
                    <a href="header-no-top-menu.html" title="Remove top menu"><span>Remove top menu</span></a>
                    <a href="header-animations.html" title="Header animations"><span>Header animations</span></a>
                    <a href="header-transparent.html" title="Transparent header"><span>Transparent header</span></a>
                    <a href="header-resizable.html" title="Resizable header"><span>Resizable header</span></a>
                </li>
                <li class="col-lg-2 col-xs-12 col-sm-4 col-md-2">
                    <h3 class="header">Pages</h3>
                    <a href="features-box.html" title="Features boxes"><span>Features boxes</span></a>
                    <a href="contact-us.html" title="Contact us"><span>Contact us</span></a>
                    <h3 class="header mrg15T">Framework</h3>
                    <a href="tile-boxes.html" title="Tile boxes"><span>Tile boxes</span></a>
                </li>
                <li class="col-lg-6 col-xs-12 col-sm-4 col-md-6">
                    <h3 class="header pad0L">Navigation Slideshow</h3>
                    <div class="clearfix">
                        <div class="owl-slider-5 slider-wrapper">
                            <div>
                                <a href="blog-single.html" title="">
                                    <img src="../../assets/image-resources/slides-bg/slide-1.jpg" class="img-full" alt="Example alternate text">
                                </a>
                            </div>
                            <div>
                                <a href="blog-single.html" title="">
                                    <img src="../../assets/image-resources/slides-bg/slide-2.jpg" class="img-full" alt="Example alternate text">
                                </a>
                            </div>
                            <div>
                                <a href="blog-single.html" title="">
                                    <img src="../../assets/image-resources/slides-bg/slide-3.jpg" class="img-full" alt="Example alternate text">
                                </a>
                            </div>
                            <div>
                                <a href="blog-single.html" title="">
                                    <img src="../../assets/image-resources/slides-bg/slide-4.jpg" class="img-full" alt="Example alternate text">
                                </a>
                            </div>
                            <div>
                                <a href="blog-single.html" title="">
                                    <img src="../../assets/image-resources/slides-bg/slide-5.jpg" class="img-full" alt="Example alternate text">
                                </a>
                            </div>
                        </div>
                        <div class="divider mrg20T mrg20B"></div>
                        <h4 class="header pad0L">Gadgets &amp; Illustrations</h4>
                        <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know.</p>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" title="Components">
                Components
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <ul>
                <li>
                    <a href="content-boxes.html" title="Components framework">
                        <span>Components framework</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="pricing-table.html" title="Pricing tables">
                        <span>Pricing tables</span>
                    </a>
                </li>
                <li><a href="carousels.html" title="Carousels"><span>Carousels</span></a></li>
                <li><a href="slideshows.html" title="Slideshows"><span>Slideshows</span></a></li>
                <li><a href="testimonials.html" title="Testimonials"><span>Testimonials</span></a></li>
                <li><a href="icon-boxes.html" title="Icon boxes"><span>Icon boxes</span></a></li>
                <li><a href="cta-boxes.html" title="Call to action boxes"><span>Call to action boxes</span></a></li>
                <li><a href="features-box.html" title="Features boxes"><span>Features boxes</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" title="Pages">
                Pages
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <ul>
                <li>
                    <h3 class="header">Blog</h3>
                    <a href="blog-sidebar.html" title="Blog with sidebar"><span>Blog sidebar I</span></a>
                    <a href="blog-sidebar-alt.html" title="Blog with sidebar alternate"><span>Blog sidebar II</span></a>
                    <div class="divider"></div>
                    <a href="blog-fullwidth.html" title="Blog without sidebar"><span>Blog full width I</span></a>
                    <a href="blog-fullwidth-alt.html" title="Blog without sidebar alternate"><span>Blog full width II</span></a>
                    <div class="divider"></div>
                    <a href="blog-masonry.html" title="Blog masonry"><span>Blog masonry</span></a>
                    <a href="blog-masonry-sidebar.html" title="Blog masonry with sidebar"><span>Blog masonry sidebar</span></a>
                    <div class="divider"></div>
                    <a href="blog-single.html" title="Blog single post"><span>Blog single post</span></a>
                </li>
                <li>
                    <h3 class="header">Others</h3>
                    <a href="features-tour.html" title="Features tour"><span>Features tour</span></a>
                    <a href="contact-us.html" title="Contact us"><span>Contact us</span></a>
                </li>
            </ul>
        </li>
    </ul><!-- .header-nav -->
</div><!-- .container -->