<div class="main-header header-fixed font-inverse header-opacity header-resizable wow bounceInDown" data-0="padding: 35px 0;" data-250="padding: 0px 0;">
    {{> navigation }}
</div><!-- .main-header -->