
<!-- Owl carousel -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/owlcarousel/owlcarousel.css">-->
<script type="text/javascript" src="../../assets/widgets/owlcarousel/owlcarousel.js"></script>
<script type="text/javascript" src="../../assets/widgets/owlcarousel/owlcarousel-demo.js"></script>

<div class="large-padding pad25B">
    <div class="container pad25B row">
        <div class="col-md-4">
            <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                <i class="icon-large glyph-icon bg-white border-default btn-border icon-linecons-clock wow bounceInDown" data-wow-delay="1s"></i>
                <h3 class="text-transform-upr icon-title wow fadeInUp">Easy to customize</h3>
                <p class="icon-content wow fadeInUp">Our UI kit comes packed with over 130 components including Bootstrap, jQuery widgets, charts, HTML elements and others.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                <i class="icon-large glyph-icon bg-white border-default btn-border icon-linecons-beaker wow bounceInDown" data-wow-delay="1.5s"></i>
                <h3 class="text-transform-upr icon-title wow fadeInUp">Based on Bootstrap 3.3</h3>
                <p class="icon-content wow fadeInUp">Easily create your own or choose the right layout, color and theme for each project you develop with the AgileUI Framework.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                <i class="icon-large glyph-icon bg-white border-default btn-border icon-linecons-camera wow bounceInDown" data-wow-delay="2s"></i>
                <h3 class="text-transform-upr icon-title wow fadeInUp">Extensive documentation</h3>
                <p class="icon-content wow fadeInUp">AUI has a comprehensive support section featuring guides and documentations has a comprehensive support section.</p>
            </div>
        </div>
    </div>
</div>
<style>

    .hero-box-smaller .owl-pagination {
        display: none;
    }

</style>
<div class="hero-box hero-box-smaller bg-black font-inverse">
    <div class="container">
        <div class="owl-slider-5 inverse slider-wrapper">
            <div>
                <div class="testimonial-box-big">
                    <div class="testimonial-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <i class="glyph-icon icon-quote-right"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <div class="testimonial-author">
                            <b>John Wayne</b>
                            <span>Manager, ACME Inc.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box-big">
                    <div class="testimonial-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <i class="glyph-icon icon-quote-right"></i>
                        <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <div class="testimonial-author">
                            <b>John Wayne</b>
                            <span>Manager, ACME Inc.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box-big">
                    <div class="testimonial-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <i class="glyph-icon icon-quote-right"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <div class="testimonial-author">
                            <b>John Wayne</b>
                            <span>Manager, ACME Inc.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box-big">
                    <div class="testimonial-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <i class="glyph-icon icon-quote-right"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <div class="testimonial-author">
                            <b>John Wayne</b>
                            <span>Manager, ACME Inc.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-pattern pattern-bg-2"></div>
</div>

<div class="cta-box-btn bg-yellow">
    <div class="container">
        <a href="#" class="btn btn-success" title="">
            Join our team
            <span>It takes less than 5 minutes to get everything set up.</span>
        </a>
    </div>
</div>
<div class="hero-box fixed-bg hero-box-smaller full-bg-10 font-inverse">
    <div class="container">


        <div class="col-md-6">
            <div class="icon-box icon-box-left mrg25B">
                <i class="icon-alt glyph-icon icon-linecons-params wow bounceIn" data-wow-duration="0.8s"></i>
                <div class="icon-wrapper">
                    <h4 class="icon-title wow bounceIn" data-wow-duration="0.6s" data-wow-delay="0.1s">Easy to customize</h4>
                    <p class="icon-content wow bounceIn" data-wow-duration="0.6s" data-wow-delay="0.2s">Our UI kit comes packed with over 130 components including Bootstrap, jQuery widgets, charts, HTML elements and others.</p>
                    <a class="read-more wow fadeInUp" data-wow-delay="1.2s" href="#" title="Learn more about customizing AUI">Learn more</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="icon-box icon-box-left mrg25T">
                <i class="icon-alt glyph-icon icon-linecons-beaker wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.3s"></i>
                <div class="icon-wrapper">
                    <h4 class="icon-title wow bounceIn" data-wow-duration="0.6s" data-wow-delay="0.4s">Based on Bootstrap 3.3</h4>
                    <p class="icon-content wow bounceIn" data-wow-duration="0.6s" data-wow-delay="0.5s">Easily create your own or choose the right layout, color and theme for each project you develop with the AgileUI Framework.</p>
                    <a class="read-more wow fadeInUp" data-wow-delay="1.4s" href="#" title="Learn more about AUI widgets & plugins">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="icon-box icon-box-left mrg25B">
                <i class="icon-alt glyph-icon icon-linecons-mobile wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.6s"></i>
                <div class="icon-wrapper">
                    <h4 class="icon-title wow bounceIn" data-wow-duration="0.6s" data-wow-delay="0.7s">Responsive &amp; Mobile Layouts</h4>
                    <p class="icon-content wow bounceIn" data-wow-duration="0.6s" data-wow-delay="0.8s">AUI and its themes were designed using the latest responsive design techniques themes were designed using the latest.</p>
                    <a class="read-more wow fadeInUp" data-wow-delay="1.6s" href="#" title="Learn more about AUI responsive design techiques">Learn more</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="icon-box icon-box-left mrg25T">
                <i class="icon-alt glyph-icon icon-linecons-graduation-cap wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.9s"></i>
                <div class="icon-wrapper">
                    <h4 class="icon-title wow bounceIn" data-wow-duration="0.6s" data-wow-delay="1s">Extensive documentation</h4>
                    <p class="icon-content wow bounceIn" data-wow-duration="0.6s" data-wow-delay="1.1s">AUI has a comprehensive support section featuring guides and documentations has a comprehensive support section.</p>
                    <a class="read-more wow fadeInUp" data-wow-delay="1.8s" href="#" title="Learn more about AUI extensive documentation">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-overlay opacity-80 bg-black"></div>
    <div class="hero-pattern pattern-bg-2"></div>
</div>

<div class="container large-padding">
    <div class="feature-box small-padding clearfix">
        <div class="feature-img">
            <div class="iphone-wrapper">
                <div class="iphone-screen"></div>
                <div class="iphone-content">
                    <div class="owl-slider-3 slider-wrapper">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                        <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-content">
            <div class="feature-heading">
                <h2>Which of us ever to take a trivial </h2>
                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
            </div>
            <ul class="feature-list">
                <li>
                    <i class="glyph-icon font-primary icon-camera"></i>
                    <span>
                        <b>Wonderful serenity has taken</b>
                        <p>Alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of.</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-anchor"></i>
                    <span>
                        <b>Steal into the inner sanctuary recently</b>
                        <p>It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman and above it there.?</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-bolt"></i>
                    <span>
                        <b>Little too small, lay peacefully between its</b>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss.</p>
                    </span>
                </li>
                <li>
                    <i class="glyph-icon font-primary icon-bullhorn"></i>
                    <span>
                        <b>Monarch Developer API</b>
                        <p>Lorem ipsum dolor sic amet dixit tu? Access Monarch's human room although a little too small.</p>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="hero-box poly-bg-3 hero-box-smaller overflow-hidden font-inverse">
    <div class="wow fadeInUp col-md-5">
        <div class="bg-holder" style="top: -100px;">
            <img src="../../assets/image-resources/stock-images/img-10.jpg" alt="" />
        </div>
    </div>
    <div class="col-md-7">
        <div class="owl-carousel-5 slider-wrapper carousel-wrapper">

            <div class="pad15A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <h3 class="thumb-heading wow bounceIn">
                                    Railroad bridge
                                    <small>12 March 2015</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-primary"></div>
                    <img src="../../assets/image-resources/stock-images/img-1.jpg" alt="" />
                </div>
            </div>
            <div class="pad15A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <h3 class="thumb-heading wow rollIn">
                                    Beautiful garden
                                    <small>12 March 2015</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img src="../../assets/image-resources/stock-images/img-2.jpg" alt="" />
                </div>
            </div>
            <div class="pad15A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <h3 class="thumb-heading wow fadeInDown">
                                    Sunrays flowers
                                    <small>12 March 2015</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-primary"></div>
                    <img src="../../assets/image-resources/stock-images/img-3.jpg" alt="" />
                </div>
            </div>
            <div class="pad15A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <h3 class="thumb-heading wow flipInX">
                                    Seeing a DJs work
                                    <small>12 March 2015</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-blue"></div>
                    <img src="../../assets/image-resources/stock-images/img-4.jpg" alt="" />
                </div>
            </div>
            <div class="pad15A">
                <div class="thumbnail-box">
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <div class="thumb-btn wow bounceInDown">
                                    <a href="#" class="btn btn-md btn-round btn-success" title=""><i class="glyph-icon icon-check"></i></a>
                                    <a href="#" class="btn btn-md btn-round btn-danger" title=""><i class="glyph-icon icon-remove"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-primary"></div>
                    <img src="../../assets/image-resources/stock-images/img-5.jpg" alt="" />
                </div>
            </div>
            <div class="pad15A">
                <div class="thumbnail-box">
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <div class="thumb-btn wow zoomIn">
                                    <a href="#" class="btn btn-lg btn-round btn-success" title=""><i class="glyph-icon icon-check"></i></a>
                                    <a href="#" class="btn btn-lg btn-round btn-danger" title=""><i class="glyph-icon icon-remove"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-gray"></div>
                    <img src="../../assets/image-resources/stock-images/img-6.jpg" alt="" />
                </div>
            </div>
            <div class="pad15A">
                <div class="thumbnail-box">
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <div class="thumb-btn wow rotateIn">
                                    <a href="#" class="btn btn-lg btn-round btn-primary" title=""><i class="glyph-icon icon-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img src="../../assets/image-resources/stock-images/img-7.jpg" alt="" />
                </div>
            </div>

        </div>

    </div>
    <div class="hero-overlay bg-black opacity-60"></div>
    <div class="hero-pattern pattern-bg-1"></div>
</div>