
<!-- Fullpage.js -->

<script type="text/javascript" src="../../assets/widgets/fullpage/fullpage.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
            anchors: ['firstPage'],
            autoScrolling: false,
            css3: true
        });
    });
</script>

<div id="fullpage">
    <div class="section bg-gradient-9" id="section0">
        <div class="slide">
            <div class="center-vertical">
                <div class="center-content">
                    <div class="container">
                        <div class="hero-box font-inverse">
                            <h2 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">The Perfect User Interface</h2>
                            <p class="pad25T mrg25B hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">This hero box examples has an action button and smaller spacing. Like these sweet mornings of spring which I enjoy with my whole heart.</p>
                            <div class="pad25T">
                                <button class="mrg5R btn btn-alt btn-hover btn-lg btn-outline-inverse remove-bg">
                                    <span>Support</span>
                                    <i class="glyph-icon icon-arrow-right"></i>
                                </button>
                                <button class="btn btn-alt btn-hover btn-lg btn-outline-inverse remove-bg">
                                    <span>Documentation</span>
                                    <i class="glyph-icon icon-bar-chart-o"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroller-icon">
                <div class="glyph-icon icon-angle-down font-white"></div>
            </div>
        </div>
    </div>
</div>
<div class="owl-carousel-1 xlarge-padding col-md-11 center-margin slider-wrapper carousel-wrapper carousel-wrapper-alt carousel-container">

    <div>
        <div class="testimonial-box">
            <div class="popover top mrg10A">
                <div class="arrow float-right"></div>
                <div class="popover-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
            </div>
            <div class="testimonial-author-wrapper">
                <img class="img-circle float-right" src="../../assets/image-resources/people/testimonial1.jpg" alt="" />
                <div class="testimonial-author text-right">
                    <b>John Wayne</b>
                    <span>Manager, ACME Inc.</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="testimonial-box">
            <div class="popover top mrg10A">
                <div class="arrow float-right"></div>
                <div class="popover-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
            </div>
            <div class="testimonial-author-wrapper">
                <img class="img-circle float-right" src="../../assets/image-resources/people/testimonial2.jpg" alt="" />
                <div class="testimonial-author text-right">
                    <b>John Wayne</b>
                    <span>Manager, ACME Inc.</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="testimonial-box">
            <div class="popover top mrg10A">
                <div class="arrow float-right"></div>
                <div class="popover-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
            </div>
            <div class="testimonial-author-wrapper">
                <img class="img-rounded float-right" src="../../assets/image-resources/people/testimonial3.jpg" alt="" />
                <div class="testimonial-author text-right">
                    <b>John Wayne</b>
                    <span>Manager, ACME Inc.</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="testimonial-box">
            <div class="popover top mrg10A">
                <div class="arrow float-right"></div>
                <div class="popover-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
            </div>
            <div class="testimonial-author-wrapper">
                <img class="img-rounded float-right" src="../../assets/image-resources/people/testimonial4.jpg" alt="" />
                <div class="testimonial-author text-right">
                    <b>John Wayne</b>
                    <span>Manager, ACME Inc.</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="testimonial-box">
            <div class="popover top mrg10A">
                <div class="arrow float-right"></div>
                <div class="popover-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
            </div>
            <div class="testimonial-author-wrapper">
                <img class="img-rounded float-right" src="../../assets/image-resources/people/testimonial5.jpg" alt="" />
                <div class="testimonial-author text-right">
                    <b>John Wayne</b>
                    <span>Manager, ACME Inc.</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="testimonial-box">
            <div class="popover top mrg10A">
                <div class="arrow float-right"></div>
                <div class="popover-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                </div>
            </div>
            <div class="testimonial-author-wrapper">
                <img class="img-rounded float-right" src="../../assets/image-resources/people/testimonial6.jpg" alt="" />
                <div class="testimonial-author text-right">
                    <b>John Wayne</b>
                    <span>Manager, ACME Inc.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cta-box-btn bg-yellow">
    <div class="container">
        <a href="#" class="btn btn-info" title="">
            Join our team
            <span>It takes less than 5 minutes to get everything set up.</span>
        </a>
    </div>
</div>
<div class="hero-box bg-black font-inverse">
    <div class="container">
        <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Light overlay</h1>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
    </div>
    <div class="hero-video video-example-2"></div>
    <div class="hero-overlay bg-black opacity-30"></div>
</div>
<div class="poly-bg-7 hero-box hero-right font-inverse hero-box-smaller">
    <div class="container clearfix">
        <div class="col-md-7">
            <h3 class="hero-heading wow fadeInDown mrg20B" data-wow-duration="0.6s">Overlay &amp; Pattern</h3>
            <p class="hero-text wow bounceInUp mrg25B" data-wow-duration="0.9s" data-wow-delay="0.2s">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            <a href="#" class="btn-outline-inverse hero-btn wow fadeInUp" data-wow-delay="0.4s" title="Purchase Button">Find out more</a>
        </div>
        <div class="col-md-5 img-holder wow fadeInUp">
            <img src="../../assets/image-resources/objects/phone-1.png" alt="">
        </div>
    </div>
</div>

<div class="container mrg25B">
    <h3 class="p-title">
        <span>Recent Blog Posts</span>
    </h3>
    <div class="owl-carousel-1 slider-wrapper inverse arrows-outside carousel-wrapper">

        <div>
            <div class="thumbnail-box-wrapper mrg5A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img src="../../assets/image-resources/stock-images/img-17.jpg" alt="">
                </div>
                <div class="thumb-pane">
                    <h3 class="thumb-heading animated rollIn">
                        <a href="#" title="">
                            Working in the morning
                        </a>
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div>
            <div class="thumbnail-box-wrapper mrg5A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img src="../../assets/image-resources/stock-images/img-18.jpg" alt="">
                </div>
                <div class="thumb-pane">
                    <h3 class="thumb-heading animated rollIn">
                        <a href="#" title="">
                            Working in the morning
                        </a>
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div>
            <div class="thumbnail-box-wrapper mrg5A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img src="../../assets/image-resources/stock-images/img-19.jpg" alt="">
                </div>
                <div class="thumb-pane">
                    <h3 class="thumb-heading animated rollIn">
                        <a href="#" title="">
                            Working in the morning
                        </a>
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div>
            <div class="thumbnail-box-wrapper mrg5A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img src="../../assets/image-resources/stock-images/img-20.jpg" alt="">
                </div>
                <div class="thumb-pane">
                    <h3 class="thumb-heading animated rollIn">
                        <a href="#" title="">
                            Working in the morning
                        </a>
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div>
            <div class="thumbnail-box-wrapper mrg5A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img src="../../assets/image-resources/stock-images/img-23.jpg" alt="">
                </div>
                <div class="thumb-pane">
                    <h3 class="thumb-heading animated rollIn">
                        <a href="#" title="">
                            Working in the morning
                        </a>
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div>
            <div class="thumbnail-box-wrapper mrg5A">
                <div class="thumbnail-box">
                    <a class="thumb-link" href="#" title=""></a>
                    <div class="thumb-content">
                        <div class="center-vertical">
                            <div class="center-content">
                                <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                            </div>
                        </div>
                    </div>
                    <div class="thumb-overlay bg-black"></div>
                    <img src="../../assets/image-resources/stock-images/img-24.jpg" alt="">
                </div>
                <div class="thumb-pane">
                    <h3 class="thumb-heading animated rollIn">
                        <a href="#" title="">
                            Working in the morning
                        </a>
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>

    </div>
    <div class="mrg25B"></div>
</div>