<!-- Layerslider -->

<script type="text/javascript" src="../../assets/js-core/greensock.js"></script>
<script type="text/javascript" src="../../assets/widgets/layerslider/layerslider.js"></script>
<script type="text/javascript" src="../../assets/widgets/layerslider/layerslider-transitions.js"></script>
<script type="text/javascript" src="../../assets/widgets/layerslider/layerslider-demo.js"></script>

<!-- Boostrap Tabs -->

<script type="text/javascript" src="../../assets/widgets/tabs/tabs.js"></script>

<div id="layerslider" style="width: 100%;
	 height: 600px;
	 ">

<!-- slide with custom settings -->
<div class="ls-slide" data-ls="
            slidedirection: right;
			slidedelay: 4000;
			durationin: 1500;
			durationout: 1500;
			easingin: easeInOutQuint;
			easingout: easeInOutQuint;
			delayin: 0;
			delayout: 0;
			timeshift: 0;
			transition2d: 10;
			">
    <img src="../../assets/image-resources/blurred-bg/blurred-bg-2.jpg" class="ls-bg" alt="Slide background 2">

    <h2 class="hero-heading font-white ls-l"
        style="
					top: 33%;
					left: 0;
					height: 10%;
                    text-align: right;
                    "

        data-ls="
						offsetxin:0;
						durationin:3000;
						delayin:2000;
						easingin:easeOutElastic;
						rotatexin:90;
						transformoriginin:50% bottom 0;
						offsetxout:0;
						rotatexout:90;
						transformoriginout:50% bottom 0;
					"
            >The perfect UI</h2>
    <p class="hero-text font-white ls-l"
       style="
					top: 50%;
					left: 0;
					width: 600px;
					font-size: 20px;
					line-height: 1.6em;
					text-align: left;
				"

       data-ls="
					offsetxin:150;
					durationin:1500;
					easingin:easeInOutQuart;
					rotateyin:40;
					offsetxout:150;
					rotateyout:40;
				">Like these sweet mornings of spring which I enjoy with my whole heart. Like these sweet mornings of spring which I enjoy with my whole heart.</p>
    <div class="ls-l"
         style="
					top: 68%;
					left: 0;
				"

         data-ls="
					offsetxin:250;
					durationin:1500;
					easingin:easeInOutQuart;
					rotateyin:40;
					offsetxout:150;
					rotateyout:40;
				">
        <div class="ls-l"
             style="
					top: 70%;
					left: 0;
					padding: 0 50px;
				"

             data-ls="
					offsetxin:150;
					durationin:1500;
					easingin:easeInOutQuart;
					rotateyin:40;
					offsetxout:150;
					rotateyout:40;
				">
            <a href="#" class="btn-outline-inverse hero-btn">Purchase now</a>
        </div>
    </div>

    <img src="../../assets/image-resources/objects/browser-1.png" class="ls-l"
         style="
                top: 45%;
                left: 70%;
                "
         data-ls="
                offsetxin: right;
                offsetxout: left;
                easingin:easeOutQuart;
                easingout:easeInQuart;
                durationin:2000;
                durationout:2000;
                rotatein: 45;
                "
            >

    <img src="../../assets/image-resources/objects/browser-2.png" class="ls-l"
         style="
                top: 65%;
                left: 80%;
                "
         data-ls="
                offsetxin: left;
                offsetxout: right;
                easingin:easeOutQuart;
                easingout:easeInQuart;
                durationin:2000;
                durationout:2000;
                delayin:1000;
                rotatein: 65;
                "
            >

    <img src="../../assets/image-resources/objects/browser-3.png" class="ls-l"
         style="
                top: 80%;
                left: 75%;
                "
         data-ls="
                offsetxin: right;
                offsetxout: left;
                easingin:easeOutQuart;
                easingout:easeInQuart;
                durationin:2000;
                durationout:2000;
                delayin:1000;
                rotatein: 65;
                "
            >

</div>


<div class="ls-slide" data-ls="slidedelay: 4000;
	     transition2d: 6,37,19;
	     ">
    <img src="../../assets/image-resources/blurred-bg/blurred-bg-1.jpg" class="ls-bg" alt="Slide background 1">

    <h2 class="hero-heading font-white ls-l"
        style="
					top: 29%;
					left: 0;
                    padding: 0;
                    "

        data-ls="
						offsetxin:0;
						durationin:3000;
						delayin:2000;
						easingin:easeOutElastic;
						rotatexin:90;
						transformoriginin:50% bottom 0;
						offsetxout:0;
						rotatexout:90;
						transformoriginout:50% bottom 0;
					"
            >Example heading title</h2>
    <p class="hero-text font-white ls-l"
       style="
					top: 46%;
					left: 0;
					padding: 0;
					width: 650px;
					line-height: 1.5em;
					font-size: 23px;
				"

       data-ls="
					offsetxin:150;
					durationin:1500;
					easingin:easeInOutQuart;
					rotateyin:40;
					offsetxout:150;
					rotateyout:40;
				">This hero box examples has an action button and smaller spacing. Like these sweet mornings of spring which I enjoy with my whole heart.</p>
    <div class="ls-l"
         style="
					top: 65%;
					left: 0;
				"

         data-ls="
					offsetxin:150;
					durationin:1500;
					easingin:easeInOutQuart;
					rotateyin:40;
					offsetxout:150;
					rotateyout:40;
				">
        <a href="#" class="btn-outline-inverse hero-btn">Purchase now</a>
    </div>


    <img src="../../assets/image-resources/objects/phone-1.png" class="ls-l"
         style="
					top: 55%;
					left: 70%;
				"

         data-ls="
					offsetyin:100;
					durationin:1500;
					delayin:1000;
					offsetxout:100;
					offsetyout:100;
					durationout:1000;
                    easingin:easeOutQuart;
					easingout:easeInQuart;
					fadeout:false;
					scalexout:0.8;
					scaleyout:0.8;
					scalexin:1;
					scaleyin:1;
				"
            >

</div>


<div class="ls-slide" data-ls="slidedelay: 4000; transition3d: 22;">
    <img src="../../assets/image-resources/blurred-bg/blurred-bg-3.jpg" class="ls-bg" alt="Slide background 3">
    <img src="../../assets/image-resources/objects/iphone_hand.png" class="ls-l" style="bottom:-35px;left:50px;" data-ls="durationin:1500;delayin:10;rotatein:20;rotatexin:30;scalexin:3;scaleyin:3;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;" />
    <p class="ls-l" style="top:80px;left:599px;height:40px;padding-right:15px;padding-left:15px;font-size:24px;line-height:37px;color:#ffffff;background:rgba(255,255,255,0.1);border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:500;rotatein:20;rotatexin:30;scalexin:3;scaleyin:3;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        EASY TO CUSTOMIZE
    </p>
    <p class="ls-l" style="top:140px;left:599px;font-size:18px;margin-top: 5px; color:rgba(255,255,255,0.8);white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:2600;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">
        Modular assets architecture
    </p>
    <p class="ls-l" style="top:180px;left:599px;height:40px;padding-right:15px;padding-left:15px;font-size:24px;line-height:37px;color:#ffffff;background:rgba(255,255,255,0.1);border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:1000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        BASED ON BOOTSTRAP 3.3
    </p>
    <p class="ls-l" style="top:240px;left:599px;font-size:18px;margin-top: 5px; color:rgba(255,255,255,0.8);white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:3300;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">
        Separate files for components and interfaces color styles
    </p>
    <p class="ls-l" style="top:280px;left:599px;height:40px;padding-right:15px;padding-left:15px;font-size:24px;line-height:37px;color:#ffffff;background:rgba(255,255,255,0.1);border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:1500;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        EXTENSIVE DOCUMENTATION
    </p>
    <p class="ls-l" style="top:340px;left:599px;font-size:18px;margin-top: 5px; color:rgba(255,255,255,0.8);white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:4000;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">
        Contact forms for new features requests and bug reports
    </p>
    <p class="ls-l" style="top:380px;left:599px;height:40px;padding-right:15px;padding-left:15px;font-size:24px;line-height:37px;color:#ffffff;background:rgba(255,255,255,0.1);border-radius:4px;white-space: nowrap;" data-ls="durationin:1500;delayin:2000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
        Source code examples
    </p>
    <p class="ls-l" style="top:440px;left:599px;font-size:18px;margin-top: 5px; color:rgba(255,255,255,0.8);white-space: nowrap;" data-ls="offsetxin:0;durationin:1500;delayin:4600;rotateyin:90;skewxin:60;transformoriginin:25% 50% 0;offsetxout:100;durationout:750;skewxout:60;">
        Components without headaches.
    </p>

</div>
</div>

<div class="container large-padding">

    <div class="row">
        <div class="col-md-6">
            <div class="icon-box icon-box-left mrg20B">
                <i class="icon-alt font-secondary glyph-icon icon-linecons-diamond wow bounceIn" data-wow-duration="0.8s"></i>
                <div class="icon-wrapper">
                    <h5 class="icon-title wow bounceIn" data-wow-duration="0.6s" data-wow-delay="0.1s">Flawless Components</h5>
                    <p class="icon-content wow bounceIn" data-wow-duration="0.6s" data-wow-delay="0.2s">Our UI kit comes packed with over 130 components including Bootstrap, jQuery widgets, charts, HTML elements and others.</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="icon-box icon-box-left mrg20T">
                <i class="icon-alt font-secondary glyph-icon icon-linecons-photo wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.3s"></i>
                <div class="icon-wrapper">
                    <h5 class="icon-title wow bounceIn" data-wow-duration="0.6s" data-wow-delay="0.4s">Multiple Layouts &amp; Themes</h5>
                    <p class="icon-content wow bounceIn" data-wow-duration="0.6s" data-wow-delay="0.5s">Easily create your own or choose the right layout, color and theme for each project you develop with the AgileUI Framework.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="icon-box icon-box-left mrg20B">
                <i class="icon-alt font-secondary glyph-icon icon-linecons-cog wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.6s"></i>
                <div class="icon-wrapper">
                    <h5 class="icon-title wow bounceIn" data-wow-duration="0.6s" data-wow-delay="0.7s">Modular Resources</h5>
                    <p class="icon-content wow bounceIn" data-wow-duration="0.6s" data-wow-delay="0.8s">All resources are nicely structured so that you can easily include only the things that you will actually use in you project.</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="icon-box icon-box-left mrg20T">
                <i class="icon-alt font-secondary glyph-icon icon-linecons-graduation-cap wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.9s"></i>
                <div class="icon-wrapper">
                    <h5 class="icon-title wow bounceIn" data-wow-duration="0.6s" data-wow-delay="1s">Extensive Documentation</h5>
                    <p class="icon-content wow bounceIn" data-wow-duration="0.6s" data-wow-delay="1.1s">The AUI documentation will guide you through each step of your project with its source code examples and explanations.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row no-gutter">
    <div class="col-md-4">
        <div class="bg-green pad25A">
            <div class="pad25A wow flipInX" data-wow-delay="0.5s">
                <h4 class="text-transform-upr font-size-17">Extensive documentation</h4>
                <p class="opacity-80 mrg25T mrg25B">No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful pursue.</p>
                <button class="btn btn-alt btn-hover btn-lg btn-outline-inverse remove-bg">
                    <span>Send us an email</span>
                    <i class="glyph-icon icon-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="bg-orange pad25A">
            <div class="pad25A wow flipInX" data-wow-delay="0.7s">
                <h4 class="text-transform-upr font-size-17">Responsive & Mobile Layouts</h4>
                <p class="opacity-80 mrg25T mrg25B">Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
                <button class="btn btn-alt btn-hover btn-lg btn-outline-inverse remove-bg">
                    <span>Read documentation</span>
                    <i class="glyph-icon icon-bullhorn"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="bg-blue pad25A">
            <div class="pad25A wow flipInX" data-wow-delay="0.9s">
                <h4 class="text-transform-upr font-size-17">Based on Bootstrap 3.3</h4>
                <p class="opacity-80 mrg25T mrg25B">Obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?</p>
                <button class="btn btn-alt btn-hover btn-lg btn-outline-inverse remove-bg">
                    <span>Find out more</span>
                    <i class="glyph-icon icon-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="clients-box xlarge-padding">
    <div class="container">
        <h3 class="clients-title font-primary">Charm of existence in this spot, which was created for the bliss</h3>
        <h4 class="clients-desc col-md-10 center-margin">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</h4>
    </div>
    <div class="row col-md-10 center-margin">
        <div class="col-md-2">
            <div class="content-box wow zoomInDown" data-wow-duration="0.8s" data-wow-delay="0s">
                <i class="glyph-icon font-red icon-linecons-beaker"></i>
            </div>
        </div>
        <div class="col-md-2">
            <div class="content-box wow zoomInDown" data-wow-duration="0.8s" data-wow-delay="0.1s">
                <i class="glyph-icon font-primary icon-linecons-sound"></i>
            </div>
        </div>
        <div class="col-md-2">
            <div class="content-box wow zoomInDown" data-wow-duration="0.8s" data-wow-delay="0.2s">
                <i class="glyph-icon font-yellow icon-linecons-cloud"></i>
            </div>
        </div>
        <div class="col-md-2">
            <div class="content-box wow zoomInDown" data-wow-duration="0.8s" data-wow-delay="0.3s">
                <i class="glyph-icon font-green icon-linecons-eye"></i>
            </div>
        </div>
        <div class="col-md-2">
            <div class="content-box wow zoomInDown" data-wow-duration="0.8s" data-wow-delay="0.4s">
                <i class="glyph-icon font-orange icon-linecons-attach"></i>
            </div>
        </div>
        <div class="col-md-2">
            <div class="content-box wow zoomInDown" data-wow-duration="0.8s" data-wow-delay="0.5s">
                <i class="glyph-icon font-purple icon-linecons-diamond"></i>
            </div>
        </div>
    </div>
</div>
<div class="cta-box-btn bg-yellow">
    <div class="container">
        <a href="#" class="btn btn-info" title="">
            Join our team
            <span>It takes less than 5 minutes to get everything set up.</span>
        </a>
    </div>
</div>
<div class="hero-box full-bg-10 fixed-bg hero-box-smaller font-inverse">
    <div class="container">
        <div class="feature-icon col-md-10">
            <div class="feature-box-wrapper">
                <i data-wow-delay="1.1s" class="glyph-icon wow rollIn icon-linecons-database"></i>
                <h3 class="wow lightSpeedIn" data-wow-delay="0s">Wonderful serenity taken</h3>
                <p class="wow lightSpeedIn" data-wow-delay="0.3s"> I am alone, and feel the charm of existence in this spot, which was created for the bliss salesman and above it.</p>
            </div>
        </div>
        <div class="feature-icon col-md-10">
            <div class="feature-box-wrapper">
                <i data-wow-delay="1.3s" class="glyph-icon wow rollIn icon-linecons-diamond"></i>
                <h3 class="wow lightSpeedIn" data-wow-delay="0.6s">Steal into the inner</h3>
                <p class="wow lightSpeedIn" data-wow-delay="0.9s">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            </div>
        </div>
    </div>
    <div class="hero-overlay bg-black-opacity opacity-80"></div>
</div>

<style>
    .owl-pagination {
        display: none;
    }
</style>

<div class="owl-carousel-1 slider-wrapper carousel-wrapper">

<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <h3 class="thumb-heading animated bounceIn">
                        Railroad bridge
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-primary"></div>
        <img src="../../assets/image-resources/stock-images/img-1.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <h3 class="thumb-heading animated rollIn">
                        Beautiful garden
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-black"></div>
        <img src="../../assets/image-resources/stock-images/img-2.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <h3 class="thumb-heading animated fadeInDown">
                        Sunrays flowers
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-primary"></div>
        <img src="../../assets/image-resources/stock-images/img-3.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <h3 class="thumb-heading animated flipInX">
                        Seeing a DJs work
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-blue"></div>
        <img src="../../assets/image-resources/stock-images/img-4.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <div class="thumb-btn animated bounceInDown">
                        <a href="#" class="btn btn-md btn-round btn-success" title=""><i class="glyph-icon icon-check"></i></a>
                        <a href="#" class="btn btn-md btn-round btn-danger" title=""><i class="glyph-icon icon-remove"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-primary"></div>
        <img src="../../assets/image-resources/stock-images/img-5.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <div class="thumb-btn animated zoomIn">
                        <a href="#" class="btn btn-lg btn-round btn-success" title=""><i class="glyph-icon icon-check"></i></a>
                        <a href="#" class="btn btn-lg btn-round btn-danger" title=""><i class="glyph-icon icon-remove"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-gray"></div>
        <img src="../../assets/image-resources/stock-images/img-6.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <div class="thumb-btn animated rotateIn">
                        <a href="#" class="btn btn-lg btn-round btn-primary" title=""><i class="glyph-icon icon-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-black"></div>
        <img src="../../assets/image-resources/stock-images/img-7.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <div class="thumb-btn animated bounceIn">
                        <a href="#" class="btn btn-xlg btn-round btn-primary" title=""><i class="glyph-icon icon-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-blue-alt"></div>
        <img src="../../assets/image-resources/stock-images/img-8.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-music"></i>
                </div>
            </div>
            <i class="icon-helper icon-br animated bounceInDown bg-danger glyph-icon icon-plus"></i>
        </div>
        <div class="thumb-overlay bg-primary"></div>
        <img src="../../assets/image-resources/stock-images/img-9.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated pulse font-white glyph-icon icon-linecons-search"></i>
                </div>
            </div>
            <i class="icon-helper icon-tr animated rotateIn bg-green glyph-icon icon-plus"></i>
        </div>
        <div class="thumb-overlay bg-danger"></div>
        <img src="../../assets/image-resources/stock-images/img-10.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated swing font-white glyph-icon icon-linecons-location"></i>
                </div>
            </div>
            <i class="icon-helper icon-bl animated zoomIn bg-black glyph-icon icon-plus"></i>
        </div>
        <div class="thumb-overlay bg-azure"></div>
        <img src="../../assets/image-resources/stock-images/img-11.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                </div>
            </div>
            <i class="icon-helper icon-tl animated fadeIn bg-black glyph-icon icon-plus"></i>
        </div>
        <div class="thumb-overlay bg-black"></div>
        <img src="../../assets/image-resources/stock-images/img-12.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box thumbnail-box-inverse">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <h3 class="thumb-heading animated bounceIn">
                        Cookie monsters
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-black"></div>
        <img src="../../assets/image-resources/stock-images/img-13.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box thumbnail-box-inverse">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-music"></i>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-primary"></div>
        <img src="../../assets/image-resources/stock-images/img-14.jpg" alt="" />
    </div>
</div>
<div>
    <div class="thumbnail-box thumbnail-box-inverse">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <h3 class="thumb-heading animated rollIn">
                        Tables at work
                        <small>12 March 2015</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-orange"></div>
        <img src="../../assets/image-resources/stock-images/img-15.jpg" alt="">
    </div>
</div>
<div>
    <div class="thumbnail-box thumbnail-box-inverse">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-blue-alt"></div>
        <img src="../../assets/image-resources/stock-images/img-16.jpg" alt="">
    </div>
</div>
<div>
    <div class="thumbnail-box thumbnail-box-inverse">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-blue-alt"></div>
        <img src="../../assets/image-resources/stock-images/img-21.jpg" alt="">
    </div>
</div>
<div>
    <div class="thumbnail-box thumbnail-box-inverse">
        <a class="thumb-link" href="#" title=""></a>
        <div class="thumb-content">
            <div class="center-vertical">
                <div class="center-content">
                    <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                </div>
            </div>
        </div>
        <div class="thumb-overlay bg-blue-alt"></div>
        <img src="../../assets/image-resources/stock-images/img-22.jpg" alt="">
    </div>
</div>

</div>

<div class="container large-padding pad0B">
    <h3 class="clients-title font-primary">Stunning Presentation Websites</h3>
    <div class="text-center">
        <span class="tick-feature">
            <i class="glyph-icon font-green icon-check"></i>
            A/B Testing Optimization
        </span>
        <span class="tick-feature">
            <i class="glyph-icon font-green icon-check"></i>
            Mobile Interface
        </span>
        <span class="tick-feature">
            <i class="glyph-icon font-green icon-check"></i>
            Modern User Experience
        </span>
    </div>
    <h4 class="clients-desc">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</h4>
    <ul class="tabs-nav" role="tablist">
        <li class="">
            <a href="#desktop" role="tab" data-toggle="tab">Easy to Customize</a>
        </li>
        <li class="active">
            <a href="#mobile" role="tab" data-toggle="tab">Bootstrap 3.3</a>
        </li>
        <li class="">
            <a href="#frontend" role="tab" data-toggle="tab">Documentation</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="desktop" class="tab-pane fade">
            <div class="container features-tour-box">
                <div class="row">
                    <div class="col-md-7">
                        <h3>Easy to customize</h3>
                        <p>Each widget has its own directory under /assets/widgets/ which makes things very organized and easy to use or modify. For example, you can exclude a widget that you'll not use just by removing a folder from the assets directory and a line of code from the markup.</p>
                        <p>Themes have their own /themes/ directory in which you could easily create a new theme without deleting the old one. Another useful thing is that there are different CSS files for the color schemes used for elements and the actual user interface.</p>
                        <ul>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Modular assets architecture
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Grunt automations
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Development &amp; production assets
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Color schemes can be easily modified
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Separate files for components and interfaces color styles
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <div class="bg-holder float-right">
                            <img src="../../assets/image-resources/objects/easy-to-customize.png" alt="Easy to customize">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile" class="tab-pane fade active in">
            <div class="container features-tour-box">
                <div class="row">
                    <div class="col-md-5">
                        <div class="bg-holder float-left">
                            <img src="../../assets/image-resources/objects/based-on-bootstrap.jpg" alt="Based on Bootstrap 3.2">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h3>Based on Bootstrap 3.3</h3>
                        <p>The AUI themes are powered by the latest versions of Bootstrap (v3.2.0), jQuery and all other widgets &amp; plugins included.</p>
                        <p>We make weekly checks to see if any of the components included have been updated by their developers. It's very important to us to keep things up to date with the latest versions. Also, we hope to developer an automatic update feature that will be available in your user account.</p>
                        <ul>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Source code examples
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Tutorials on how to work with the AUI core
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Styling guides for creating new color schemes
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Contact forms for new features requests and bug reports
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Free community support forums
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="frontend" class="tab-pane fade">
            <div class="container features-tour-box">
                <div class="row">
                    <div class="col-md-7">
                        <h3>Extensive documentation</h3>
                        <p>We know how important it is to keep things simple and to have them well documented. To make sure things go as smoothly as possible, when we added a new feature to the AUI framework core we immediately created the documentation for it.</p>
                        <p>The AUI documentation includes code example snippets for all components included and also tutorials and guide to get you working on your AUI based project as soon as possible and without headaches.</p>
                        <ul>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Source code examples
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Tutorials on how to work with the AUI core
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Styling guides for creating new color schemes
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Contact forms for new features requests and bug reports
                            </li>
                            <li>
                                <i class="glyph-icon icon-check font-green"></i>
                                Free community support forums
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <div class="bg-holder float-right">
                            <img src="../../assets/image-resources/objects/extensive-documentation.png" alt="Extensive documentation">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cta-box-vertical bg-gray medium-padding">
    <div class="container">
        <h3>
            Start your subscription today
            <p>No startup fees for the rest of the year if you join today.</p>
        </h3>
        <a href="#" class="btn btn-success btn-lg hero-btn wow fadeInUp" data-wow-delay="0.4s" title="Create my account">
            Create my account
            <i class="glyph-icon icon-angle-right mrg5L"></i>
        </a>
    </div>
</div>