---
title: Lockscreen page 2
subheading:
---
<style type="text/css">
    html,body {
        height: 100%;
    }
    body {
        background: #fff;
        overflow: hidden;
    }
</style>

<script type="text/javascript" src="../../assets/widgets/wow/wow.js"></script>
<script type="text/javascript">
    /* WOW animations */

    wow = new WOW({
        animateClass: 'animated',
        offset: 100
    });
    wow.init();
</script>

<img src="../../assets/image-resources/blurred-bg/blurred-bg-6.jpg" class="login-img wow fadeIn" alt="" />

<div class="center-vertical">
    <div class="center-content row">
        <div class="col-md-4 col-sm-5 col-xs-11 col-lg-3 center-margin">
            <div class="panel-layout wow bounceInDown">
                <div class="panel-content pad0A bg-white">
                    <div class="meta-box meta-box-offset">
                        <img src="../../assets/image-resources/gravatar.jpg" alt="" class="meta-image img-bordered img-circle">
                        <h3 class="meta-heading font-size-16">Alex Rosenberg</h3>
                        <h4 class="meta-subheading font-size-13 font-gray">Ultimate backend programmer</h4>
                    </div>
                    <form action="" class="form-inline" method="">
                        <div class="content-box-wrapper pad20A">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" placeholder="Password" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button"><i class="glyph-icon icon-unlock-alt"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>