---
title: Login page 5
subheading:
---
<style type="text/css">

    html,body {
        height: 100%;
        background: #F5F5F5;
    }

</style>

<div class="center-vertical">
    <div class="center-content row">

        <div class="col-md-6 center-margin">

            <h3 class="text-center pad15B font-gray text-transform-upr font-size-23">Monarch Admin <span class="opacity-80">v1.0</span></h3>

            <div class="content-box border-top border-red clearfix">
                <div class="content-box-wrapper row">

                    <form action="" id="login-validation" class="col-md-7" method="">
                        <div id="login-form">
                            <div class="pad20A">

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address:</label>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon addon-inside bg-white font-primary">
                                            <i class="glyph-icon icon-envelope-o"></i>
                                        </span>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password:</label>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon addon-inside bg-white font-primary">
                                            <i class="glyph-icon icon-unlock-alt"></i>
                                        </span>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                </div>
                                <div class="row mrg15B">
                                    <div class="checkbox-primary col-md-10" style="height: 20px;">
                                        <label>
                                            <input type="checkbox" id="loginCheckbox1" class="custom-checkbox">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-blue-alt">Login</button>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="col-md-4 float-right" style="height: 287px;">

                        <div class="center-vertical">
                            <div class="center-content">

                                <a href="#" class="btn btn-block btn-md bg-facebook">
                                    <span class="glyph-icon icon-separator">
                                        <i class="glyph-icon icon-facebook"></i>
                                    </span>
                                    <span class="button-content">
                                        Connect with Facebook
                                    </span>
                                </a>
                                <div class="mrg10A"></div>
                                <a href="#" class="btn btn-block btn-md bg-twitter">
                                    <span class="glyph-icon icon-separator">
                                        <i class="glyph-icon icon-twitter"></i>
                                    </span>
                                    <span class="button-content">
                                        Connect with Twitter
                                    </span>
                                </a>
                                <div class="mrg10A"></div>
                                <a href="#" class="btn btn-block btn-md bg-google">
                                    <span class="glyph-icon icon-separator">
                                        <i class="glyph-icon icon-google-plus"></i>
                                    </span>
                                    <span class="button-content">
                                        Connect with Google+
                                    </span>
                                </a>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
