---
title: Login page 3
subheading:
---
<style type="text/css">

    html,body {
        height: 100%;
        background: #fafafa;
    }

</style>

<div class="center-vertical">
    <div class="center-content row">

        <div class="col-md-8 col-lg-6 clearfix center-margin">
            <div class="row">
                <div class="col-md-5">
                    <h3 class="text-transform-upr font-size-17">Monarch Admin <span class="opacity-80">v1.0</span></h3>
                    <p class="font-gray">Lorem ipsum dolor sic amet dixit tu lorem ipsum.</p>
                    <div class="divider"></div>
                    <ul class="reset-ul">
                        <li class="pad10A font-size-16">
                            <i class="glyph-icon icon-camera mrg10R font-green"></i>
                            Unlimited styles available
                        </li>
                        <li class="pad10A font-size-16">
                            <i class="glyph-icon icon-cog mrg10R font-red"></i>
                            Mobile first, responsive layouts
                        </li>
                        <li class="pad10A font-size-16">
                            <i class="glyph-icon icon-bullhorn mrg10R font-orange"></i>
                            Over 200.000 lines of code
                        </li>
                    </ul>
                    <div class="divider"></div>
                    Not a member yet? <a href="" title="Register">Click here to sign up</a>!
                    <br />
                </div>

                <div class="col-md-7">

                    <form method="post" action="">
                        <div class="content-box">
                            <h3 class="content-box-header content-box-header-alt bg-default">
                                <span class="icon-separator">
                                    <i class="glyph-icon icon-cog"></i>
                                </span>
                                <span class="header-wrapper">
                                    Members area
                                    <small>Use the form below to login to your account.</small>
                                </span>
                                <span class="header-buttons">
                                    <a href="#" class="btn btn-sm btn-primary" title="">Sign Up</a>
                                </span>
                            </h3>
                            <div class="content-box-wrapper">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                        <span class="input-group-addon bg-blue">
                                            <i class="glyph-icon icon-envelope-o"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                        <span class="input-group-addon bg-blue">
                                            <i class="glyph-icon icon-unlock-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <a href="" title="Recover password">Forgot Your Password?</a>
                                </div>
                                <button class="btn btn-success btn-block">Sign In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
