---
title: Server page 2
subheading:
---
<style>
    html,body {
        height: 100%;
    }
    .page-box {
        min-height: 200px;
    }

    .page-box .server-message {
        padding: 35px 0;
    }

</style>

<style type="text/css">

    body {
        overflow: hidden;
    }

</style>

<script type="text/javascript" src="../../assets/widgets/wow/wow.js"></script>
<script type="text/javascript">
    /* WOW animations */

    wow = new WOW({
        animateClass: 'animated',
        offset: 100
    });
    wow.init();
</script>


<div class="center-vertical">
    <div class="center-content row">
        <div class="col-md-6 wow bounceInDown center-margin">
            <div class="server-message">
                <h1>Error 404</h1>
                <h2>Page not found</h2>
                <p>The page you are looking for has been moved or no longer exists. Use the search field below to locate the page you were looking for.</p>

                <form>
                    <div class="input-group mrg25B mrg10T input-group-lg">
                        <input type="text" placeholder="Search terms here..." class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" tabindex="-1">
                                <i class="glyph-icon icon-search"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-success">Return to previous page</button>
                </form>
            </div>
        </div>

    </div>
</div>