---
title: Features tour | Monarch
subheading: Create features tours using the examples below.
---
<body>
{{> tophook }}{{> topbar }}
{{> header }}
<div class="hero-box hero-box-smaller full-bg-9 font-inverse" data-top-bottom="background-position: 50% 0px;" data-bottom-top="background-position: 50% -600px;">
    <div class="container">
        <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Features tour</h1>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">{{ subheading }}</p>
    </div>
    <div class="hero-overlay bg-black"></div>
</div>

<div class="container features-tour-box">
    <div class="row">
        <div class="col-md-7">
            <h3>Easy to customize</h3>
            <p>Each widget has its own directory under /assets/widgets/ which makes things very organized and easy to use or modify. For example, you can exclude a widget that you'll not use just by removing a folder from the assets directory and a line of code from the markup.</p>
            <p>Themes have their own /themes/ directory in which you could easily create a new theme without deleting the old one. Another useful thing is that there are different CSS files for the color schemes used for elements and the actual user interface.</p>
            <ul>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Modular assets architecture
                </li>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Grunt automations
                </li>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Development &amp; production assets
                </li>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Color schemes can be easily modified
                </li>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Separate files for components and interfaces color styles
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <div class="bg-holder float-right">
                <img src="../../assets/image-resources/objects/easy-to-customize.png" alt="Easy to customize">
            </div>
        </div>
    </div>
</div>

<div class="container features-tour-box">
    <div class="row">
        <div class="col-md-5">
            <div class="bg-holder float-left">
                <img src="../../assets/image-resources/objects/based-on-bootstrap.jpg" alt="Based on Bootstrap 3.2">
            </div>
        </div>
        <div class="col-md-7">
            <h3>Based on Bootstrap 3.3</h3>
            <p>The AUI themes are powered by the latest versions of Bootstrap (v3.2.0), jQuery and all other widgets &amp; plugins included.</p>
            <p>We make weekly checks to see if any of the components included have been updated by their developers. It's very important to us to keep things up to date with the latest versions. Also, we hope to developer an automatic update feature that will be available in your user account.</p>
            <ul>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Source code examples
                </li>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Tutorials on how to work with the AUI core
                </li>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Styling guides for creating new color schemes
                </li>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Contact forms for new features requests and bug reports
                </li>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Free community support forums
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container features-tour-box">
    <div class="row">
        <div class="col-md-7">
            <h3>Extensive documentation</h3>
            <p>We know how important it is to keep things simple and to have them well documented. To make sure things go as smoothly as possible, when we added a new feature to the AUI framework core we immediately created the documentation for it.</p>
            <p>The AUI documentation includes code example snippets for all components included and also tutorials and guide to get you working on your AUI based project as soon as possible and without headaches.</p>
            <ul>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Source code examples
                </li>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Tutorials on how to work with the AUI core
                </li>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Styling guides for creating new color schemes
                </li>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Contact forms for new features requests and bug reports
                </li>
                <li>
                    <i class="glyph-icon icon-check font-green"></i>
                    Free community support forums
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <div class="bg-holder float-right">
                <img src="../../assets/image-resources/objects/extensive-documentation.png" alt="Extensive documentation">
            </div>
        </div>
    </div>
</div>



<br /><br />

{{> footer }}{{> bottomhook }}