---
title: Header fixed | Monarch
---
<body class="main-header-fixed">

<!-- Layerslider -->

<script type="text/javascript" src="../../assets/js-core/greensock.js"></script>
<script type="text/javascript" src="../../assets/widgets/layerslider/layerslider.js"></script>
<script type="text/javascript" src="../../assets/widgets/layerslider/layerslider-transitions.js"></script>
<script type="text/javascript" src="../../assets/widgets/layerslider/layerslider-demo.js"></script>

{{> tophook }}
{{> topbar }}
{{> header }}
<div class="hero-box bg-blue font-inverse">
    <div class="container">
        <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s" style="visibility: visible; -webkit-animation: 0.6s;">Pattern over blue background</h1>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation: 0.9s 0.2s;">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
    </div>
    <div class="hero-pattern pattern-bg-1"></div>
</div>
{{> homepage-1 }}
{{> footer }}{{> bottomhook }}