<div class="top-bar bg-topbar">
    <div class="container">
        <div class="float-left">
            <a href="#" class="btn btn-sm bg-facebook tooltip-button" data-placement="bottom" title="Follow us on Facebook">
                <i class="glyph-icon icon-facebook"></i>
            </a>
            <a href="#" class="btn btn-sm bg-google tooltip-button" data-placement="bottom" title="Follow us on Google+">
                <i class="glyph-icon icon-google-plus"></i>
            </a>
            <a href="#" class="btn btn-sm bg-twitter tooltip-button" data-placement="bottom" title="Follow us on Twitter">
                <i class="glyph-icon icon-twitter"></i>
            </a>

            <a href="#" class="btn btn-top btn-sm" title="Give us a call">
                <i class="glyph-icon icon-phone"></i>
                +1-541-754-3010
            </a>
        </div>
        <div class="float-right user-account-btn dropdown">
            <a href="../admin-template/index.html" title="MonarchUI Admin Template" class="btn btn-sm float-left btn-alt btn-hover mrg10R btn-default">
                <span>Back to admin</span>
                <i class="glyph-icon icon-arrow-right"></i>
            </a>
            <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown" aria-expanded="false">
                <img width="28" src="../../assets/image-resources/gravatar.jpg" alt="Profile image">
                <span>Thomas Barnes</span>
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <div class="dropdown-menu pad0B float-right">
                <div class="box-sm">
                    <div class="login-box clearfix">
                        <div class="user-img">
                            <a href="#" title="" class="change-img">Change photo</a>
                            <img src="../../assets/image-resources/gravatar.jpg" alt="">
                        </div>
                        <div class="user-info">
                        <span>
                            Thomas Barnes
                            <i>UX/UI developer</i>
                        </span>
                            <a href="#" title="">Edit profile</a>
                            <a href="#" title="">View notifications</a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <ul class="reset-ul mrg5B">
                        <li>
                            <a href="#">
                                View login page example
                                <i class="glyph-icon float-right icon-caret-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                View lockscreen example
                                <i class="glyph-icon float-right icon-caret-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                View account details
                                <i class="glyph-icon float-right icon-caret-right"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="pad5A button-pane button-pane-alt text-center">
                        <a href="#" class="btn display-block font-normal btn-danger">
                            <i class="glyph-icon icon-power-off"></i>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .container -->
</div><!-- .top-bar -->