---
title: Static hero areas | Monarch
---
<body>
{{> tophook }}{{> topbar }}
{{> header }}

<div class="hero-box bg-green hero-box-smaller font-inverse">
    <div class="container">
        <h2 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Green background</h2>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">This hero box examples has an action button and smaller spacing. Like these sweet mornings of spring which I enjoy with my whole heart.</p>
        <a href="#" class="btn-outline-inverse hero-btn wow fadeInUp" data-wow-delay="0.4s" title="Purchase Button">Purchase now</a>
    </div>
</div>
<div class="hero-box bg-white hero-box-smaller">
    <div class="container">
        <h2 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">White background</h2>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">This hero box examples has an action button and smaller spacing. Like these sweet mornings of spring which I enjoy with my whole heart.</p>
        <a href="#" class="btn-outline-inverse btn-primary hero-btn wow fadeInUp" data-wow-delay="0.4s" title="Purchase Button">Purchase now</a>
    </div>
</div>
<div class="hero-box bg-black font-inverse">
    <div class="container">
        <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Black background</h1>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
    </div>
</div>
<div class="hero-box bg-gray hero-box-smaller">
    <div class="container">
        <h2 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Gray background</h2>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">This hero box examples has an action button and smaller spacing. Like these sweet mornings of spring which I enjoy with my whole heart.</p>
        <a href="#" class="btn-outline hero-btn wow fadeInUp" data-wow-delay="0.4s" title="Purchase Button">Purchase now</a>
    </div>
</div>
<div class="hero-box bg-primary hero-box-smaller">
    <div class="container">
        <h2 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Theme background</h2>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">This hero box examples has an action button and smaller spacing. Like these sweet mornings of spring which I enjoy with my whole heart.</p>
        <a href="#" class="btn-outline-inverse hero-btn wow fadeInUp" data-wow-delay="0.4s" title="Purchase Button">Purchase now</a>
    </div>
</div>