---
title: Hero sections alignments | Monarch
---
<body>
{{> tophook }}{{> topbar }}
{{> header }}

<div class="hero-box bg-orange hero-box-smaller font-inverse">
    <div class="container">
        <h2 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Center aligned elements</h2>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">This hero box examples has an action button and smaller spacing. Like these sweet mornings of spring which I enjoy with my whole heart.</p>
        <a href="#" class="btn-outline-inverse hero-btn wow fadeInUp" data-wow-delay="0.4s" title="Purchase Button">Purchase now</a>
    </div>
</div>
<div class="hero-box bg-gray hero-box-smaller hero-left">
    <div class="container">
        <h2 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Left aligned elements</h2>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">This hero box examples has an action button and smaller spacing. Like these sweet mornings of spring which I enjoy with my whole heart.</p>
        <a href="#" class="btn-outline-inverse btn-primary hero-btn wow fadeInUp" data-wow-delay="0.4s" title="Purchase Button">Purchase now</a>
    </div>
</div>
<div class="hero-box bg-blue-alt hero-box-smaller hero-right font-inverse">
    <div class="container">
        <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Right aligned elements</h1>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
        <a href="#" class="btn-outline-inverse btn-azure hero-btn wow fadeInUp" data-wow-delay="0.4s" title="Purchase Button">Purchase now</a>
    </div>
</div>