---
title: Pricing tables
subheading: Example page with pricing tables build with MonarchUI
---

<div id="page-title">
    <h2>{{ title }}</h2>
    <p>{{ subheading }}</p>
    {{> page-title-content }}
</div>

<link rel="stylesheet" type="text/css" href="../../assets/frontend-elements/pricing-table.css">

<div class="">
    <div class="content-box pad25A">

        <div class="pricing-box-alt row clearfix">

            <div class="col-md-3 plans-features">
                <div class="plan-header"></div>
                <ul>
                    <li class="header">Package contents</li>
                    <li>All components</li>
                    <li>Admin interface</li>
                    <li>Frontend interface</li>
                    <li class="header">Support</li>
                    <li>Free upgrades</li>
                    <li>Community forums</li>
                    <li>Premium support tickets</li>
                    <li>Chat for support</li>
                    <li>Documentaton &amp; Tutorials</li>
                    <li class="header">Limits</li>
                    <li>Team members</li>
                    <li>Domain limit</li>
                </ul>
            </div>
            <div class="col-md-3 individual-plan">
                <div class="plan-header">
                    <h4>Individual</h4>
                    <div class="plan-price"><small>$</small>49</div>
                    <a href="#" class="btn btn-default select-pricing-plan">Buy Now</a>
                </div>
                <ul>
                    <li class="header"></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li class="header"></li>
                    <li>3 months</li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li>1</li>
                    <li><i class="feature-excluded bg-gray"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li class="header"></li>
                    <li>1</li>
                    <li>1</li>
                </ul>
                <div class="pricing-btn">
                    <a href="#" class="btn btn-black select-pricing-plan">Buy Now<b>$49 one time fee</b></a>
                </div>
            </div>
            <div class="col-md-3 studio-plan">
                <div class="plan-header">
                    <h4>Studio</h4>
                    <div class="plan-price"><small>$</small>69</div>
                    <a href="#" class="btn btn-default select-pricing-plan">Buy Now</a>
                </div>
                <ul>
                    <li class="header"></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li class="header"></li>
                    <li>6 months</li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li>5</li>
                    <li><i class="feature-excluded bg-gray"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li class="header"></li>
                    <li>1</li>
                    <li>1-5</li>
                </ul>
                <div class="pricing-btn">
                    <a href="#" class="btn btn-black select-pricing-plan">Buy Now<b>$69 one time fee</b></a>
                </div>
            </div>
            <div class="col-md-3 unlimited-plan">
                <div class="plan-header">
                    <h4>Unlimited</h4>
                    <div class="plan-price"><small>$</small>99</div>
                    <a href="#" class="btn btn-default select-pricing-plan">Buy Now</a>
                </div>
                <ul>
                    <li class="header"></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li class="header"></li>
                    <li>12 months</li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li>10</li>
                    <li><i class="feature-excluded bg-gray"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li class="header"></li>
                    <li>1</li>
                    <li>unlimited</li>
                </ul>
                <div class="pricing-btn">
                    <a href="#" class="btn btn-black select-pricing-plan">Buy Now<b>$99 one time fee</b></a>
                </div>
            </div>

        </div>

        <h3 class="text-center font-size-23 mrg25T mrg25B">
            <span>Three columns</span>
        </h3>

        <div class="row">
            <div class="col-md-4">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">Silver</h3>
                    <div class="bg-blue pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12 font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">Gold</h3>
                    <div class="bg-orange pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12 font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">Platinum</h3>
                    <div class="bg-green pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12 font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="text-center font-size-23 mrg25T mrg25B">
            <span>Four columns</span>
        </h3>

        <div class="row">
            <div class="col-md-3">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">Silver</h3>
                    <div class="bg-blue pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">Silver</h3>
                    <div class="bg-yellow pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">Gold</h3>
                    <div class="bg-orange pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">Platinum</h3>
                    <div class="bg-green pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="text-center font-size-23 mrg25T mrg25B">
            <span>Alternate colors</span>
        </h3>

        <div class="row pricing-table mrg20T">
            <div class="pricing-box col-md-4 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box pricing-best col-md-4 content-box">
                <h3 class="pricing-title bg-primary">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-primary font-size-14" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box col-md-4 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
        </div>


        <h3 class="text-center font-size-23 mrg25T mrg25B">
            <span>Multiple columns</span>
        </h3>

        <div class="row pricing-table mrg20T">
            <div class="pricing-box col-md-2 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box pricing-best col-md-2 content-box">
                <h3 class="pricing-title bg-primary">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-primary font-size-14" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box col-md-2 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box col-md-2 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box col-md-2 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box col-md-2 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
        </div>

        <h3 class="text-center font-size-23 mrg25T mrg25B">
            <span>Two columns</span>
        </h3>

        <div class="row pricing-table mrg20T">
            <div class="pricing-box col-md-6 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box pricing-best col-md-6 content-box">
                <h3 class="pricing-title bg-primary">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-primary font-size-14" title="">Sign Up Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>