---
title: Buttons
subheading: Monarch UI comes packed with a lot of options when it comes to buttons.
---

<div id="page-title">
    <h2>{{ title }}</h2>
    <p>{{ subheading }}</p>
    {{> page-title-content }}
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Basic
                </h3>
                <div class="example-box-wrapper">
                    <a class="btn btn-default" href="#" role="button">Link</a>
                    <button class="btn btn-default" type="submit">Button</button>
                    <input class="btn btn-default" type="button" value="Input">
                    <input class="btn btn-default" type="submit" value="Submit">
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Disabled states
                </h3>
                <div class="example-box-wrapper">
                    <a class="btn btn-default disabled" href="#" role="button">Link</a>
                    <button class="btn btn-default disabled" type="submit">Button</button>
                    <input class="btn btn-default disabled" type="button" value="Input">
                    <input class="btn btn-default disabled" type="submit" value="Submit">

                    <a class="btn btn-primary" disabled href="#" role="button">Link</a>
                    <button class="btn btn-primary" disabled type="submit">Button</button>
                    <input class="btn btn-primary" disabled type="button" value="Input">
                    <input class="btn btn-primary" disabled type="submit" value="Submit">
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Background colors
                </h3>
                <div class="example-box-wrapper">
                    <button class="btn btn-primary">Primary</button>
                    <button class="btn btn-default">Default</button>
                    <button class="btn btn-success">Success</button>
                    <button class="btn btn-danger">Danger</button>
                    <button class="btn btn-warning">Warning</button>
                    <button class="btn btn-info">Info</button>
                    <button class="btn btn-blue-alt">Blue alternate</button>
                    <button class="btn btn-yellow">Yellow</button>
                    <button class="btn btn-purple">Purple</button>
                    <button class="btn btn-azure">Azure</button>
                    <button class="btn btn-black" href="#">Black</button>
                    <button class="btn btn-black-opacity" href="#">black alternate</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Sizes
                </h3>
                <div class="example-box-wrapper">
                    <a href="#" class="btn btn-xs btn-default" title="">Extra small</a>
                    <a href="#" class="btn btn-sm btn-default" title="">Small</a>
                    <a href="#" class="btn btn-default" title="">Default</a>
                    <a href="#" class="btn btn-lg btn-default" title="">Large</a>
                    <a href="#" class="btn btn-xs btn-primary" title="">Extra small</a>
                    <a href="#" class="btn btn-sm btn-primary" title="">Small</a>
                    <a href="#" class="btn btn-primary" title="">Default</a>
                    <a href="#" class="btn btn-lg btn-primary" title="">Large</a>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Active states
                </h3>
                <div class="example-box-wrapper">
                    <a class="btn btn-default active" href="#" role="button">Link</a>
                    <button class="btn btn-primary active" type="submit">Button</button>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Link colors
                </h3>
                <div class="example-box-wrapper">
                    <a class="btn btn-link" href="#">Default</a>
                    <a class="btn btn-link font-blue" href="#">Blue</a>
                    <a class="btn btn-link font-blue-alt" href="#">Alternate blue</a>
                    <a class="btn btn-link font-red" href="#">Red</a>
                    <a class="btn btn-link font-orange" href="#">Orange</a>
                    <a class="btn btn-link font-green" href="#">Green</a>
                    <a class="btn btn-link font-black" href="#">black</a>
                    <a class="btn btn-link font-black-alt" href="#">Alternate black</a>
                    <a class="btn btn-link font-purple" href="#">Purple</a>
                    <a class="btn btn-link font-azure" href="#">Azure</a>
                    <a class="btn btn-link font-black" href="#">Black</a>
                    <a class="btn btn-black font-white" href="#">White</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Bordered buttons
                </h3>
                <div class="example-box-wrapper">
                    <a class="btn btn-border btn-alt border-default font-default" href="#" title=""><span>Default</span></a>
                    <a class="btn btn-border btn-alt border-primary font-primary" href="#" title=""><span>Primary</span></a>
                    <a class="btn btn-border btn-alt border-blue btn-link font-blue" href="#" title=""><span>Blue</span></a>
                    <a class="btn btn-border btn-alt border-blue-alt btn-link font-blue-alt" href="#" title=""><span>Alternate blue</span></a>
                    <a class="btn btn-border btn-alt border-red btn-link font-red" href="#" title=""><span>Red</span></a>
                    <a class="btn btn-border btn-alt border-orange btn-link font-orange" href="#" title=""><span>Orange</span></a>
                    <a class="btn btn-border btn-alt border-green btn-link font-green" href="#" title=""><span>Green</span></a>
                    <a class="btn btn-border btn-alt border-black btn-link font-black" href="#" title=""><span>black</span></a>
                    <a class="btn btn-border btn-alt border-purple btn-link font-purple" href="#" title=""><span>Purple</span></a>
                    <a class="btn btn-border btn-alt border-azure btn-link font-azure" href="#" title=""><span>Azure</span></a>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Icon buttons
                </h3>
                <div class="example-box-wrapper">
                    <button class="btn btn-primary">
                        <i class="glyph-icon icon-code-fork"></i>
                    </button>
                    <button class="btn btn-default">
                        <i class="glyph-icon icon-download"></i>
                    </button>
                    <button class="btn btn-success">
                        <i class="glyph-icon icon-cube"></i>
                    </button>
                    <button class="btn btn-danger">
                        <i class="glyph-icon icon-crop"></i>
                    </button>
                    <button class="btn btn-warning">
                        <i class="glyph-icon icon-database"></i>
                    </button>
                    <button class="btn btn-info">
                        <i class="glyph-icon icon-credit-card"></i>
                    </button>
                    <button class="btn btn-blue-alt">
                        <i class="glyph-icon icon-film"></i>
                    </button>
                    <button class="btn btn-yellow">
                        <i class="glyph-icon icon-lightbulb-o"></i>
                    </button>
                    <button class="btn btn-purple">
                        <i class="glyph-icon icon-shopping-cart"></i>
                    </button>
                    <button class="btn btn-azure">
                        <i class="glyph-icon icon-dashboard"></i>
                    </button>
                    <button class="btn btn-black" href="#">
                        <i class="glyph-icon icon-trophy"></i>
                    </button>
                    <button class="btn btn-black-opacity" href="#">
                        <i class="glyph-icon icon-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Rounded icon buttons
                </h3>
                <div class="example-box-wrapper">
                    <button class="btn btn-round btn-primary">
                        <i class="glyph-icon icon-code-fork"></i>
                    </button>
                    <button class="btn btn-round btn-default">
                        <i class="glyph-icon icon-download"></i>
                    </button>
                    <button class="btn btn-round btn-success">
                        <i class="glyph-icon icon-cube"></i>
                    </button>
                    <button class="btn btn-round btn-danger">
                        <i class="glyph-icon icon-crop"></i>
                    </button>
                    <button class="btn btn-round btn-warning">
                        <i class="glyph-icon icon-database"></i>
                    </button>
                    <button class="btn btn-round btn-info">
                        <i class="glyph-icon icon-credit-card"></i>
                    </button>
                    <button class="btn btn-round btn-blue-alt">
                        <i class="glyph-icon icon-film"></i>
                    </button>
                    <button class="btn btn-round btn-yellow">
                        <i class="glyph-icon icon-lightbulb-o"></i>
                    </button>
                    <button class="btn btn-round btn-purple">
                        <i class="glyph-icon icon-shopping-cart"></i>
                    </button>
                    <button class="btn btn-round btn-azure">
                        <i class="glyph-icon icon-dashboard"></i>
                    </button>
                    <button class="btn btn-round btn-black" href="#">
                        <i class="glyph-icon icon-trophy"></i>
                    </button>
                    <button class="btn btn-round btn-black-opacity" href="#">
                        <i class="glyph-icon icon-eye"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Animated hover icons
                </h3>
                <div class="example-box-wrapper">
                    <button class="btn btn-alt btn-hover btn-primary">
                        <span>Primary</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button>
                    <button class="btn btn-alt btn-hover btn-default">
                        <span>Default</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button>
                    <button class="btn btn-alt btn-hover btn-success">
                        <span>Success</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button>
                    <button class="btn btn-alt btn-hover btn-danger">
                        <span>Danger</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button>
                    <button class="btn btn-alt btn-hover btn-warning">
                        <span>Warning</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button>
                    <button class="btn btn-alt btn-hover btn-info">
                        <span>Info</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button>
                    <button class="btn btn-alt btn-hover btn-blue-alt">
                        <span>Blue alternate</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button>
                    <button class="btn btn-alt btn-hover btn-yellow">
                        <span>Yellow</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button>
                    <button class="btn btn-alt btn-hover btn-purple">
                        <span>Purple</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button>
                    <button class="btn btn-alt btn-hover btn-azure">
                        <span>Azure</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button>
                    <button class="btn btn-alt btn-hover btn-black" href="#">
                        <span>Black</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button>
                    <button class="btn btn-alt btn-hover btn-black-opacity" href="#">
                        <span>Black alternate</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Rounded buttons
                </h3>
                <div class="example-box-wrapper">
                    <button class="btn ra-100 btn-primary">Primary</button>
                    <button class="btn ra-100 btn-default">Default</button>
                    <button class="btn ra-100 btn-success">Success</button>
                    <button class="btn ra-100 btn-danger">Danger</button>
                    <button class="btn ra-100 btn-warning">Warning</button>
                    <button class="btn ra-100 btn-info">Info</button>
                    <button class="btn ra-100 btn-blue-alt">Blue alternate</button>
                    <button class="btn ra-100 btn-yellow">Yellow</button>
                    <button class="btn ra-100 btn-purple">Purple</button>
                    <button class="btn ra-100 btn-azure">Azure</button>
                    <button class="btn ra-100 btn-black" href="#">Black</button>
                    <button class="btn ra-100 btn-black-opacity" href="#">black alternate</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-7">
        <div class="panel">
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-6">

                        <h3 class="title-hero">
                            Button groups
                        </h3>

                        <div class="example-box-wrapper">

                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Left</button>
                                <button type="button" class="btn btn-default">Middle</button>
                                <button type="button" class="btn btn-default">Right</button>
                            </div>

                        </div>

                        <h3 class="title-hero">
                            Nesting vertical
                        </h3>

                        <div class="example-box-wrapper">

                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-default">Button</button>
                                <div class="btn-group">
                                    <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Dropdown
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                                        <li><a href="#">Dropdown link</a></li>
                                        <li><a href="#">Dropdown link</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-default">Button</button>
                                <div class="btn-group">
                                    <button id="btnGroupVerticalDrop2" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Dropdown
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop2">
                                        <li><a href="#">Dropdown link</a></li>
                                        <li><a href="#">Dropdown link</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <button id="btnGroupVerticalDrop3" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Dropdown
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop3">
                                        <li><a href="#">Dropdown link</a></li>
                                        <li><a href="#">Dropdown link</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">

                        <h3 class="title-hero">
                            Button groups sizing
                        </h3>

                        <div class="example-box-wrapper">

                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group btn-group-lg">
                                    <button type="button" class="btn btn-default">Left</button>
                                    <button type="button" class="btn btn-default">Middle</button>
                                    <button type="button" class="btn btn-default">Right</button>
                                </div>
                            </div>
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default">Left</button>
                                    <button type="button" class="btn btn-default">Middle</button>
                                    <button type="button" class="btn btn-default">Right</button>
                                </div>
                            </div>
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-default">Left</button>
                                    <button type="button" class="btn btn-default">Middle</button>
                                    <button type="button" class="btn btn-default">Right</button>
                                </div>
                            </div>
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group btn-group-xs">
                                    <button type="button" class="btn btn-default">Left</button>
                                    <button type="button" class="btn btn-default">Middle</button>
                                    <button type="button" class="btn btn-default">Right</button>
                                </div>
                            </div>

                        </div>

                        <h3 class="title-hero">
                            Nesting horizontal
                        </h3>

                        <div class="example-box-wrapper">

                            <div class="btn-group">
                                <button type="button" class="btn btn-default">1</button>
                                <button type="button" class="btn btn-default">2</button>

                                <div class="btn-group">
                                    <button id="btn-group-example" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Dropdown
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="btn-group-example">
                                        <li><a href="#">Dropdown link</a></li>
                                        <li><a href="#">Dropdown link</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <h3 class="title-hero">
                            Toolbars
                        </h3>

                        <div class="example-box-wrapper">

                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default">1</button>
                                    <button type="button" class="btn btn-default">2</button>
                                    <button type="button" class="btn btn-default">3</button>
                                    <button type="button" class="btn btn-default">4</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn btn-default">5</button>
                                    <button type="button" class="btn btn btn-default">6</button>
                                    <button type="button" class="btn btn btn-default">7</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default">8</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel">
            <div class="panel-body">

                <h3 class="title-hero">
                    Full width
                </h3>

                <div class="example-box-wrapper">

                    <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                    <button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>

                </div>

            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Justified groups
                </h3>

                <div class="example-box-wrapper">

                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default" role="button">Left</a>
                        <a class="btn btn-default" role="button">Middle</a>
                        <a class="btn btn-default" role="button">Right</a>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary" role="button">Left</a>
                        <a class="btn btn-primary" role="button">Middle</a>
                        <a class="btn btn-primary" role="button">Right</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6">

        <div class="panel">
            <div class="panel-body">

                <h4 class="title-hero">
                    Sizing
                </h4>

                <div class="example-box-wrapper">

                    <div class="btn-toolbar float-left" role="toolbar">
                        <div class="btn-group">
                            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                                Large button
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-toolbar float-left" role="toolbar">
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                Default button
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-toolbar float-left" role="toolbar">
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                Small button
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-toolbar float-left" role="toolbar">
                        <div class="btn-group">
                            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                Extra small button
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <h3 class="title-hero">
                    Button dropups
                </h3>

                <div class="example-box-wrapper">

                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-default">Dropup</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-primary">Right dropup</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="col-md-6">

        <div class="panel">
            <div class="panel-body">

                <h3 class="title-hero">
                    Button dropdowns
                </h3>

                <div class="example-box-wrapper">

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Default <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Primary <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Success <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Info <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Warning <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Danger <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>

                </div>

                <h3 class="title-hero">
                    Split button dropdowns
                </h3>

                <div class="example-box-wrapper">

                    <div class="btn-group">
                        <button type="button" class="btn btn-default">Default</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Primary</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success">Success</button>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">Info</button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning">Warning</button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Danger</button>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Toggle buttons
                </h3>

                <div class="example-box-wrapper">

                    <button type="button" class="btn btn-default" data-toggle="button">Single toggle 1</button>
                    <button type="button" class="btn btn-primary" data-toggle="button">Single toggle 2</button>
                    <button type="button" class="btn btn-success" data-toggle="button">Single toggle 3</button>

                </div>
                <h3 class="title-hero">
                    Radio toggles
                </h3>

                <div class="example-box-wrapper">

                    <div class="btn-group" data-toggle="buttons">
                        <a href="#" class="btn btn-info">
                            <input name="radio-toggle-1" type="radio">
                            Radio 1
                        </a>
                        <a href="#" class="btn btn-info">
                            <input name="radio-toggle-1" type="radio">
                            Radio 2
                        </a>
                        <a href="#" class="btn btn-info">
                            <input name="radio-toggle-1" type="radio">
                            Radio 3
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Checkbox toggles
                </h3>

                <div class="example-box-wrapper">

                    <div class="btn-group" data-toggle="buttons">
                        <a href="#" class="btn btn-default">
                            <input type="checkbox">
                            Checkbox 1
                        </a>
                        <a href="#" class="btn btn-default">
                            <input type="checkbox">
                            Checkbox 2
                        </a>
                        <a href="#" class="btn btn-default">
                            <input type="checkbox">
                            Checkbox 3
                        </a>
                    </div>
                    <div class="btn-group" data-toggle="buttons">
                        <a href="#" class="btn btn-primary">
                            <input type="checkbox">
                            Checkbox 1
                        </a>
                        <a href="#" class="btn btn-primary">
                            <input type="checkbox">
                            Checkbox 2
                        </a>
                        <a href="#" class="btn btn-primary">
                            <input type="checkbox">
                            Checkbox 3
                        </a>
                    </div>
                    <div class="btn-group" data-toggle="buttons">
                        <a href="#" class="btn btn-black">
                            <input type="checkbox">
                            <i class="glyph-icon icon-bell-o"></i>
                        </a>
                        <a href="#" class="btn btn-black">
                            <input type="checkbox">
                            <i class="glyph-icon icon-bolt"></i>
                        </a>
                    </div>

                </div>

                <h3 class="title-hero">
                    Loading buttons
                </h3>

                <div class="example-box-wrapper">

                    <button type="button" data-loading-text="Stand by..." class="btn loading-button btn-default">Click to load 1</button>
                    <button type="button" data-loading-text="Loading..." class="btn loading-button btn-primary">Click to load 2</button>
                    <button type="button" data-loading-text="Please wait..." class="btn loading-button btn-info">Click to load 3</button>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Social buttons
                </h3>

                <div class="example-box-wrapper">

                    <a href="#" class="btn btn-xs bg-facebook">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-facebook"></i>
                        </span>
                        <span class="button-content">
                            Facebook
                        </span>
                    </a>
                    <a href="#" class="btn btn-sm bg-facebook">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-facebook"></i>
                        </span>
                        <span class="button-content">
                            Facebook
                        </span>
                    </a>
                    <a href="#" class="btn bg-facebook">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-facebook"></i>
                        </span>
                        <span class="button-content">
                            Facebook
                        </span>
                    </a>
                    <a href="#" class="btn btn-lg bg-facebook">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-facebook"></i>
                        </span>
                        <span class="button-content">
                            Facebook
                        </span>
                    </a>
                    <br />
                    <br />
                    <a href="#" class="btn btn-xs bg-twitter">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-twitter"></i>
                        </span>
                        <span class="button-content">
                            Twitter
                        </span>
                    </a>
                    <a href="#" class="btn btn-sm bg-twitter">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-twitter"></i>
                        </span>
                        <span class="button-content">
                            Twitter
                        </span>
                    </a>
                    <a href="#" class="btn bg-twitter">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-twitter"></i>
                        </span>
                        <span class="button-content">
                            Twitter
                        </span>
                    </a>
                    <a href="#" class="btn btn-lg bg-twitter">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-twitter"></i>
                        </span>
                        <span class="button-content">
                            Twitter
                        </span>
                    </a>
                    <br />
                    <br />
                    <a href="#" class="btn btn-xs bg-google">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-google-plus"></i>
                        </span>
                        <span class="button-content">
                            Google
                        </span>
                    </a>
                    <a href="#" class="btn btn-sm bg-google">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-google-plus"></i>
                        </span>
                        <span class="button-content">
                            Google
                        </span>
                    </a>
                    <a href="#" class="btn bg-google">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-google-plus"></i>
                        </span>
                        <span class="button-content">
                            Google
                        </span>
                    </a>
                    <a href="#" class="btn btn-lg bg-google">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-google-plus"></i>
                        </span>
                        <span class="button-content">
                            Google
                        </span>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Dashboard buttons
                </h3>

                <div class="example-box-wrapper">

                    <div class="content-box remove-border dashboard-buttons clearfix">
                        <a href="#" class="btn vertical-button hover-green" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-tags"></i>
                            </span>
                            <span class="button-content">Widgets</span>
                        </a>
                        <a href="#" class="btn vertical-button hover-orange" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-fire"></i>
                            </span>
                            <span class="button-content">Tables</span>
                        </a>
                        <a href="#" class="btn vertical-button hover-purple" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-bar-chart-o"></i>
                            </span>
                            <span class="button-content">Charts</span>
                        </a>
                        <a href="#" class="btn vertical-button hover-yellow" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-laptop"></i>
                            </span>
                            <span class="button-content">Buttons</span>
                        </a>
                        <a href="#" class="btn vertical-button hover-azure" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-code"></i>
                            </span>
                            <span class="button-content">Panels</span>
                        </a>
                        <a href="#" class="btn vertical-button hover-blue" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-picture-o"></i>
                            </span>
                            <span class="button-content">Themes</span>
                        </a>
                    </div>
                </div>

                <h4 class="title-hero">
                    Dashboard buttons alternate
                </h4>

                <div class="example-box-wrapper">

                    <div class="content-box remove-border dashboard-buttons clearfix">
                        <a href="#" class="btn vertical-button remove-border btn-success" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-tags"></i>
                            </span>
                            <span class="button-content">Widgets</span>
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-warning" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-fire"></i>
                            </span>
                            <span class="button-content">Tables</span>
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-purple" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-bar-chart-o"></i>
                            </span>
                            <span class="button-content">Charts</span>
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-yellow" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-laptop"></i>
                            </span>
                            <span class="button-content">Buttons</span>
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-azure" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-code"></i>
                            </span>
                            <span class="button-content">Panels</span>
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-info" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-picture-o"></i>
                            </span>
                            <span class="button-content">Themes</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="title-hero">
                            Pagination
                        </h3>

                        <div class="example-box-wrapper">

                            <ul class="pagination">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>

                        </div>

                        <h3 class="title-hero">
                            Active and disabled states
                        </h3>

                        <div class="example-box-wrapper">

                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="title-hero">
                            Sizing
                        </h3>

                        <div class="example-box-wrapper">

                            <div>
                                <ul class="pagination pagination-lg">
                                    <li><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                            <div>
                                <ul class="pagination">
                                    <li><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                            <div>
                                <ul class="pagination pagination-sm">
                                    <li><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Pager
                </h3>

                <div class="example-box-wrapper">

                    <ul class="pager">
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>

                </div>

                <h3 class="title-hero">
                    Alignments
                </h3>

                <div class="example-box-wrapper">

                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a></li>
                        <li class="next"><a href="#">Newer &rarr;</a></li>
                    </ul>

                </div>

                <h3 class="title-hero">
                    Disabled state
                </h3>

                <div class="example-box-wrapper">

                    <ul class="pager">
                        <li class="previous disabled"><a href="#">&larr; Older</a></li>
                        <li class="next"><a href="#">Newer &rarr;</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>