---
title: Chart.js
subheading: Simple, clean and engaging charts library.
---

<!-- Chart.js -->

<script type="text/javascript" src="../../assets/widgets/charts/chart-js/chart-core.js"></script>

<script type="text/javascript" src="../../assets/widgets/charts/chart-js/chart-bar.js"></script>
<script type="text/javascript" src="../../assets/widgets/charts/chart-js/chart-doughnut.js"></script>
<script type="text/javascript" src="../../assets/widgets/charts/chart-js/chart-line.js"></script>
<script type="text/javascript" src="../../assets/widgets/charts/chart-js/chart-polar.js"></script>
<script type="text/javascript" src="../../assets/widgets/charts/chart-js/chart-radar.js"></script>

<script type="text/javascript" src="../../assets/widgets/charts/chart-js/chart-demo.js"></script>

<div id="page-title">
    <h2>{{ title }}</h2>
    <p>{{ subheading }}</p>
    {{> page-title-content }}
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Bar
                </h3>
                <div class="example-box-wrapper">
                    <canvas id="canvas-1" height="450" width="600"></canvas>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Polar area
                </h3>
                <div class="example-box-wrapper">
                    <canvas id="chart-area-3" width="300" height="300"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Doughnut
                </h3>
                <div class="example-box-wrapper">
                    <canvas id="chart-area" width="500" height="500"/>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Pie chart
                </h3>
                <div class="example-box-wrapper">
                    <canvas id="chart-area-2" class="center-margin" width="300" height="300"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Line
                </h3>
                <div class="example-box-wrapper">
                    <canvas id="canvas-2" height="450" width="600"></canvas>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Radar chart
                </h3>
                <div class="example-box-wrapper">
                    <canvas id="canvas-4" height="450" width="450"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>