---
title: Chat
subheading: Create messaging systems for your web applications.
---

<div id="page-title">
    <h2>{{ title }}</h2>
    <p>{{ subheading }}</p>
    {{> page-title-content }}
</div>

<div class="content-box">
    <h3 class="content-box-header bg-blue text-left">
        <i class="glyph-icon icon-comments"></i>
        Chat box
    </h3>
    <div class="content-box-wrapper">

        <ul class="chat-box">
            <li>
                <div class="chat-author">
                    <img width="36" src="../../assets/image-resources/gravatar.jpg" alt="" />
                </div>
                <div class="popover left no-shadow">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                        <div class="chat-time">
                            <i class="glyph-icon icon-clock-o"></i>
                            a few seconds ago
                        </div>
                    </div>
                </div>
            </li>
            <li class="float-left">
                <div class="chat-author">
                    <img width="36" src="../../assets/image-resources/gravatar.jpg" alt="" />
                </div>
                <div class="popover right no-shadow">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <h3>
                            <a href="#" title="Agile UI">Agile UI</a>
                            <div class="float-right">
                                <a href="#" class="btn glyph-icon icon-inbox font-gray tooltip-button" data-placement="bottom" title="This chat line was received in the mail."></a>
                            </div>
                        </h3>
                        This comment line has a title (author name) and a right button panel.
                        <div class="chat-time">
                            <i class="glyph-icon icon-clock-o"></i>
                            a few seconds ago
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="chat-author">
                    <img width="36" src="../../assets/image-resources/gravatar.jpg" alt="" />
                </div>
                <div class="popover left no-shadow">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        This comment line has a bottom button panel, box shadow and title.
                        <div class="chat-time">
                            <i class="glyph-icon icon-clock-o"></i>
                            a few seconds ago
                        </div>
                        <div class="divider"></div>
                        <a href="#" class="btn btn-sm btn-default font-bold text-transform-upr" title=""><span class="button-content">Reply</span></a>
                        <a href="#" class="btn btn-sm btn-danger float-right tooltip-button" data-placement="left" title="Remove comment"><i class="glyph-icon icon-remove"></i></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="chat-author">
                    <img width="36" src="../../assets/image-resources/gravatar.jpg" alt="" />
                </div>
                <div class="popover left no-shadow">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                        <div class="chat-time">
                            <i class="glyph-icon icon-clock-o"></i>
                            a few seconds ago
                        </div>
                    </div>
                </div>
            </li>
            <li class="float-left">
                <div class="chat-author">
                    <img width="36" src="../../assets/image-resources/gravatar.jpg" alt="" />
                </div>
                <div class="popover right no-shadow">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                        <div class="chat-time">
                            <i class="glyph-icon icon-clock-o"></i>
                            a few seconds ago
                        </div>
                    </div>
                </div>
            </li>

        </ul>

    </div>
    <div class="button-pane pad10A">
        <div class="input-group">
            <input type="text" placeholder="Say something here..." class="form-control">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" tabindex="-1"><i class="glyph-icon icon-mail-reply"></i></button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content-box">
    <h3 class="content-box-header bg-blue text-left">
        <i class="glyph-icon icon-comments"></i>
        Scrollable chat box
    </h3>
    <div class="content-box-wrapper">
        <div class="scrollable-content scrollable-slim scrollable-medium">

            <ul class="chat-box">
                <li>
                    <div class="chat-author">
                        <img width="36" src="../../assets/image-resources/gravatar.jpg" alt="" />
                    </div>
                    <div class="popover left no-shadow">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                            <div class="chat-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                a few seconds ago
                            </div>
                        </div>
                    </div>
                </li>
                <li class="float-left">
                    <div class="chat-author">
                        <img width="36" src="../../assets/image-resources/gravatar.jpg" alt="" />
                    </div>
                    <div class="popover right no-shadow">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <h3>
                                <a href="#" title="Agile UI">Agile UI</a>
                                <div class="float-right">
                                    <a href="#" class="btn glyph-icon icon-inbox font-gray tooltip-button" data-placement="bottom" title="This chat line was received in the mail."></a>
                                </div>
                            </h3>
                            This comment line has a title (author name) and a right button panel.
                            <div class="chat-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                a few seconds ago
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="chat-author">
                        <img width="36" src="../../assets/image-resources/gravatar.jpg" alt="" />
                    </div>
                    <div class="popover left no-shadow">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            This comment line has a bottom button panel, box shadow and title.
                            <div class="chat-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                a few seconds ago
                            </div>
                            <div class="divider"></div>
                            <a href="#" class="btn btn-sm btn-default font-bold text-transform-upr" title=""><span class="button-content">Reply</span></a>
                            <a href="#" class="btn btn-sm btn-danger float-right tooltip-button" data-placement="left" title="Remove comment"><i class="glyph-icon icon-remove"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="chat-author">
                        <img width="36" src="../../assets/image-resources/gravatar.jpg" alt="" />
                    </div>
                    <div class="popover left no-shadow">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                            <div class="chat-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                a few seconds ago
                            </div>
                        </div>
                    </div>
                </li>
                <li class="float-left">
                    <div class="chat-author">
                        <img width="36" src="../../assets/image-resources/gravatar.jpg" alt="" />
                    </div>
                    <div class="popover right no-shadow">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                            <div class="chat-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                a few seconds ago
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </div>
    </div>
    <div class="button-pane pad10A">
        <div class="input-group">
            <input type="text" placeholder="Say something here..." class="form-control">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" tabindex="-1"><i class="glyph-icon icon-mail-reply"></i></button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>