---
title: Inline editor
subheading: Create in-place editable elements in web applications.
---

<!-- Bootstrap Summernote WYSIWYG editor -->

<script type="text/javascript" src="../../assets/widgets/tooltip/tooltip.js"></script>
<script type="text/javascript" src="../../assets/widgets/popover/popover.js"></script>

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/xeditable/xeditable.css">-->
<script type="text/javascript" src="../../assets/widgets/xeditable/xeditable.js"></script>
<script type="text/javascript" src="../../assets/widgets/xeditable/xeditable-demo.js"></script>

<script type="text/javascript" src="../../assets/widgets/daterangepicker/moment.js"></script>

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Inline editor
                </h3>
                <div class="example-box-wrapper">
                    <form class="form-horizontal bordered-row">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Simple text field</label>
                            <div class="col-sm-6">
                                <a href="#" id="inline-username" data-type="text" data-pk="1" data-title="Enter username">superuser</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Empty text field, required</label>
                            <div class="col-sm-6">
                                <a href="#" id="inline-firstname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your firstname"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Select, local array, custom display</label>
                            <div class="col-sm-6">
                                <a href="#" id="inline-sex" data-type="select" data-pk="1" data-value="" data-title="Select sex"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Select, error while loading</label>
                            <div class="col-sm-6">
                                <a href="#" id="inline-status" data-type="select" data-pk="1" data-value="0" data-source="/status" data-title="Select status">Active</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Combodate</label>
                            <div class="col-sm-6">
                                <a href="#" id="inline-dob" data-type="combodate" data-value="1984-05-15" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-title="Select Date of birth"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Textarea</label>
                            <div class="col-sm-6">
                                <a href="#" id="inline-comments" data-type="textarea" data-pk="1" data-placeholder="Your comments here..." data-title="Enter comments">awesome user!</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Popover editor
                </h3>
                <div class="example-box-wrapper">

                    <form class="form-horizontal bordered-row">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Simple text field</label>
                            <div class="col-sm-6">
                                <a href="#" id="username" data-type="text" data-pk="1" data-title="Enter username">superuser</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Empty text field, required</label>
                            <div class="col-sm-6">
                                <a href="#" id="firstname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your firstname"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Select, local array, custom display</label>
                            <div class="col-sm-6">
                                <a href="#" id="sex" data-type="select" data-pk="1" data-value="" data-title="Select sex"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Select, error while loading</label>
                            <div class="col-sm-6">
                                <a href="#" id="status" data-type="select" data-pk="1" data-value="0" data-source="/status" data-title="Select status">Active</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Combodate</label>
                            <div class="col-sm-6">
                                <a href="#" id="dob" data-type="combodate" data-value="1984-05-15" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-title="Select Date of birth"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Textarea</label>
                            <div class="col-sm-6">
                                <a href="#" id="comments" data-type="textarea" data-pk="1" data-placeholder="Your comments here..." data-title="Enter comments">awesome user!</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

