---
title: justGage
subheading: Generate responsive animated nice &amp; clean gauges.
---

<!-- justGage charts -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/charts/justgage/justgage.css">-->

<script type="text/javascript" src="../../assets/js-core/raphael.js"></script>

<script type="text/javascript" src="../../assets/widgets/charts/justgage/justgage.js"></script>
<script type="text/javascript" src="../../assets/widgets/charts/justgage/justgage-demo.js"></script>

<div id="page-title">
    <h2>{{ title }}</h2>
    <p>{{ subheading }}</p>
    {{> page-title-content }}
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <div class="pad10A">
                    <div id="g1" class="xs-gauge"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <div class="pad10A">
                    <div id="g2" class="sm-gauge"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <div class="pad10A">
                    <div id="g3" class="md-gauge"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <div class="pad10A">
                    <div id="g4" class="lg-gauge"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <div class="pad10A">
                    <div id="g5" class="xl-gauge"></div>
                </div>
            </div>
        </div>
    </div>
</div>