---
title: Labels & Badges
subheading: Create numbers indicators, unread counts and text indicators.
---

<div id="page-title">
    <h2>{{ title }}</h2>
    <p>{{ subheading }}</p>
    {{> page-title-content }}
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Labels
        </h3>
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Result</th>
                            <th>Helper class</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="bs-label label-primary">Primary</span></td>
                            <td><code>.label-primary</code></td>
                        </tr>
                        <tr>
                            <td><span class="bs-label label-default">Default</span></td>
                            <td><code>.label-default</code></td>
                        </tr>
                        <tr>
                            <td><span class="bs-label label-success">Success</span></td>
                            <td><code>.label-success</code></td>
                        </tr>
                        <tr>
                            <td><span class="bs-label label-danger">Danger</span></td>
                            <td><code>.label-danger</code></td>
                        </tr>
                        <tr>
                            <td><span class="bs-label label-warning">Warning</span></td>
                            <td><code>.label-warning</code></td>
                        </tr>
                        <tr>
                            <td><span class="bs-label label-info">Info</span></td>
                            <td><code>.label-info</code></td>
                        </tr>
                        <tr>
                            <td><span class="bs-label label-blue-alt">Blue alternate</span></td>
                            <td><code>.label-blue-alt</code></td>
                        </tr>
                        <tr>
                            <td><span class="bs-label label-yellow">Yellow</span></td>
                            <td><code>.label-yellow</code></td>
                        </tr>
                        <tr>
                            <td><span class="bs-label label-purple">Purple</span></td>
                            <td><code>.label-purple</code></td>
                        </tr>
                        <tr>
                            <td><span class="bs-label label-azure">Azure</span></td>
                            <td><code>.label-azure</code></td>
                        </tr>
                        <tr>
                            <td><span class="bs-label label-black">Black</span></td>
                            <td><code>.label-black</code></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h1 class="mrg10A">Example heading <span class="bs-label label-primary">New</span></h1>
                    <h2 class="mrg10A">Example heading <span class="bs-label label-primary">New</span></h2>
                    <h3 class="mrg10A">Example heading <span class="bs-label label-primary">New</span></h3>
                    <h4 class="mrg10A">Example heading <span class="bs-label label-primary">New</span></h4>
                    <h5 class="mrg10A">Example heading <span class="bs-label label-primary">New</span></h5>
                    <h6 class="mrg10A">Example heading <span class="bs-label label-primary">New</span></h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Badges
        </h3>
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Result</th>
                            <th>Helper class</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="bs-badge badge-success">56</span></td>
                            <td><code>.badge-success</code></td>
                            <td>Used for <b>success</b> actions.</td>
                        </tr>
                        <tr>
                            <td><span class="bs-badge badge-danger">573</span></td>
                            <td><code>.badge-danger</code></td>
                            <td>Used for <b>error</b> actions.</td>
                        </tr>
                        <tr>
                            <td><span class="bs-badge badge-warning">12</span></td>
                            <td><code>.badge-warning</code></td>
                            <td>Used for <b>warning</b> actions.</td>
                        </tr>
                        <tr>
                            <td><span class="bs-badge badge-info">43</span></td>
                            <td><code>.badge-info</code></td>
                            <td>Used for <b>information</b> actions.</td>
                        </tr>
                        <tr>
                            <td><span class="bs-badge badge-blue-alt">9</span></td>
                            <td><code>.badge-blue-alt</code></td>
                            <td>Alternate blue background.</td>
                        </tr>
                        <tr>
                            <td><span class="bs-badge badge-yellow">7</span></td>
                            <td><code>.badge-yellow</code></td>
                            <td>Yellow background.</td>
                        </tr>
                        <tr>
                            <td><span class="bs-badge badge-purple">4</span></td>
                            <td><code>.badge-purple</code></td>
                            <td>Purple background.</td>
                        </tr>
                        <tr>
                            <td><span class="bs-badge badge-azure">1</span></td>
                            <td><code>.badge-azure</code></td>
                            <td>Azure background.</td>
                        </tr>
                        <tr>
                            <td><span class="bs-badge badge-black">456</span></td>
                            <td><code>.badge-black</code></td>
                            <td>Black background.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h3 class="title-hero">
                        Inline
                    </h3>
                    <a class="btn btn-default btn-lg" href="#">Inbox <span class="bs-badge badge-primary">42</span></a>
                    <h3 class="title-hero mrg25T">
                        Absolute positioned
                    </h3>
                    <a href="#" class="btn btn-default btn-lg">
                        <span class="bs-badge badge-absolute bg-red">9</span>
                        Left badge
                    </a>
                    <a href="#" class="btn btn-default btn-lg">
                        Right badge
                        <span class="bs-badge badge-absolute float-right badge-purple">87</span>
                    </a>
                    <h3 class="title-hero mrg25T">
                        Status
                    </h3>
                    <div class="clearfix">
                        <div class="status-badge mrg10A">
                            <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial1.jpg" alt="" />
                            <div class="small-badge bg-green"></div>
                        </div>
                        <div class="status-badge mrg10A">
                            <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial2.jpg" alt="" />
                            <div class="small-badge bg-blue"></div>
                        </div>
                        <div class="status-badge mrg10A">
                            <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial3.jpg" alt="" />
                            <div class="small-badge bg-red"></div>
                        </div>
                        <div class="status-badge mrg10A">
                            <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial4.jpg" alt="" />
                            <div class="small-badge bg-orange"></div>
                        </div>
                        <div class="status-badge mrg10A">
                            <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial5.jpg" alt="" />
                            <div class="small-badge bg-gray"></div>
                        </div>
                        <div class="status-badge mrg10A">
                            <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial6.jpg" alt="" />
                            <div class="small-badge bg-purple"></div>
                        </div>
                        <div class="status-badge mrg10A">
                            <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial7.jpg" alt="" />
                            <div class="small-badge bg-primary"></div>
                        </div>
                        <div class="status-badge mrg10A">
                            <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial8.jpg" alt="" />
                            <div class="small-badge bg-yellow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Ribbons
        </h3>
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-3">
                    <div class="content-box pad20A">
                        <div class="ribbon">
                            <div class="bg-primary">Ribbon</div>
                        </div>
                        <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-box pad20A">
                        <div class="ribbon">
                            <div class="bg-green">Ribbon</div>
                        </div>
                        <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-box pad20A">
                        <div class="ribbon">
                            <div class="bg-orange">Ribbon</div>
                        </div>
                        <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-box pad20A">
                        <div class="ribbon">
                            <div class="bg-blue-alt">Ribbon</div>
                        </div>
                        <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="content-box pad20A">
                        <div class="ribbon ribbon-tr">
                            <div class="bg-red">Ribbon</div>
                        </div>
                        <p class="pad10B"><b>Ribbon positioned to the right</b></p>
                        <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
