---
title: Lazyload
subheading: Use the markup below to make images load only when they are in the viewport.
---

<!-- Lazyload -->

<script type="text/javascript" src="../../assets/widgets/lazyload/lazyload.js"></script>
<script type="text/javascript">
    /* Lazyload */

    $(function() {
        $("img.lazy").lazyload({
            effect: "fadeIn",
            threshold: 100
        });
    });
</script>

<div id="page-title">
    <h2>{{ title }}</h2>
    <p>{{ subheading }}</p>
    {{> page-title-content }}
</div>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail-box">
            <a class="thumb-link" href="#" title=""></a>
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <h3 class="thumb-heading animated bounceIn">
                            Railroad bridge
                            <small>12 March 2015</small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="thumb-overlay bg-primary"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-1.jpg" alt="" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box">
            <a class="thumb-link" href="#" title=""></a>
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <h3 class="thumb-heading animated rollIn">
                            Beautiful garden
                            <small>12 March 2015</small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="thumb-overlay bg-black"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-2.jpg" alt="" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box">
            <a class="thumb-link" href="#" title=""></a>
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <h3 class="thumb-heading animated fadeInDown">
                            Sunrays flowers
                            <small>12 March 2015</small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="thumb-overlay bg-primary"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-3.jpg" alt="" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box">
            <a class="thumb-link" href="#" title=""></a>
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <h3 class="thumb-heading animated flipInX">
                            Seeing a DJs work
                            <small>12 March 2015</small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="thumb-overlay bg-blue"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-4.jpg" alt="" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail-box">
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="thumb-btn animated bounceInDown">
                            <a href="#" class="btn btn-md btn-round btn-success" title=""><i class="glyph-icon icon-check"></i></a>
                            <a href="#" class="btn btn-md btn-round btn-danger" title=""><i class="glyph-icon icon-remove"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thumb-overlay bg-primary"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-5.jpg" alt="" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box">
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="thumb-btn animated zoomIn">
                            <a href="#" class="btn btn-lg btn-round btn-success" title=""><i class="glyph-icon icon-check"></i></a>
                            <a href="#" class="btn btn-lg btn-round btn-danger" title=""><i class="glyph-icon icon-remove"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thumb-overlay bg-gray"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-6.jpg" alt="" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box">
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="thumb-btn animated rotateIn">
                            <a href="#" class="btn btn-lg btn-round btn-primary" title=""><i class="glyph-icon icon-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thumb-overlay bg-black"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-7.jpg" alt="" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box">
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="thumb-btn animated bounceIn">
                            <a href="#" class="btn btn-xlg btn-round btn-primary" title=""><i class="glyph-icon icon-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thumb-overlay bg-blue-alt"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-8.jpg" alt="" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail-box">
            <a class="thumb-link" href="#" title=""></a>
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-music"></i>
                    </div>
                </div>
                <i class="icon-helper icon-br animated bounceInDown bg-danger glyph-icon icon-plus"></i>
            </div>
            <div class="thumb-overlay bg-primary"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-9.jpg" alt="" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box">
            <a class="thumb-link" href="#" title=""></a>
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <i class="icon-helper icon-center animated pulse font-white glyph-icon icon-linecons-search"></i>
                    </div>
                </div>
                <i class="icon-helper icon-tr animated rotateIn bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumb-overlay bg-danger"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-10.jpg" alt="" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box">
            <a class="thumb-link" href="#" title=""></a>
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <i class="icon-helper icon-center animated swing font-white glyph-icon icon-linecons-location"></i>
                    </div>
                </div>
                <i class="icon-helper icon-bl animated zoomIn bg-black glyph-icon icon-plus"></i>
            </div>
            <div class="thumb-overlay bg-azure"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-11.jpg" alt="" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box">
            <a class="thumb-link" href="#" title=""></a>
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                    </div>
                </div>
                <i class="icon-helper icon-tl animated fadeIn bg-black glyph-icon icon-plus"></i>
            </div>
            <div class="thumb-overlay bg-black"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-12.jpg" alt="" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail-box thumbnail-box-inverse">
            <a class="thumb-link" href="#" title=""></a>
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <h3 class="thumb-heading animated bounceIn">
                            Cookie monsters
                            <small>12 March 2015</small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="thumb-overlay bg-black"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-13.jpg" alt="" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box thumbnail-box-inverse">
            <a class="thumb-link" href="#" title=""></a>
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-music"></i>
                    </div>
                </div>
            </div>
            <div class="thumb-overlay bg-primary"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-14.jpg" alt="" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box thumbnail-box-inverse">
            <a class="thumb-link" href="#" title=""></a>
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <h3 class="thumb-heading animated rollIn">
                            Tables at work
                            <small>12 March 2015</small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="thumb-overlay bg-orange"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-15.jpg" alt="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box thumbnail-box-inverse">
            <a class="thumb-link" href="#" title=""></a>
            <div class="thumb-content">
                <div class="center-vertical">
                    <div class="center-content">
                        <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                    </div>
                </div>
            </div>
            <div class="thumb-overlay bg-blue-alt"></div>
            <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-16.jpg" alt="">
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail-box-wrapper">
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-17.jpg" alt="">
            </div>
            <div class="thumb-pane">
                <h3 class="thumb-heading animated rollIn">
                    <a href="#" title="">
                        Working in the morning
                    </a>
                    <small>12 March 2015</small>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box-wrapper">
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-18.jpg" alt="">
            </div>
            <div class="thumb-pane">
                <h3 class="thumb-heading animated rollIn">
                    <a href="#" title="">
                        Working in the morning
                    </a>
                    <small>12 March 2015</small>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box-wrapper">
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-19.jpg" alt="">
            </div>
            <div class="thumb-pane">
                <h3 class="thumb-heading animated rollIn">
                    <a href="#" title="">
                        Working in the morning
                    </a>
                    <small>12 March 2015</small>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-box-wrapper">
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img class="lazy" src="" data-original="../../assets/image-resources/stock-images/img-20.jpg" alt="">
            </div>
            <div class="thumb-pane">
                <h3 class="thumb-heading animated rollIn">
                    <a href="#" title="">
                        Working in the morning
                    </a>
                    <small>12 March 2015</small>
                </h3>
            </div>
        </div>
    </div>
</div>