---
title: Mailbox single message
subheading:
---
<div class="row mailbox-wrapper">
<div class="col-md-3">

    <div class="content-box nav-list mrg15B">
        <div class="pad10A">
            <a href="#" class="btn btn-success btn-lg btn-block" title="Compose new mail">
                Compose new mail
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item" title="">
                <i class="glyph-icon font-gray icon-inbox"></i>
                Inbox
                <span class="badge bg-blue">83</span>
            </a>
            <a href="#" class="list-group-item" title="">
                <i class="glyph-icon font-gray icon-envelope-o"></i>
                Sent Mail
                <span class="badge bg-azure">32</span>
            </a>
            <a href="#" class="list-group-item" title="">
                <i class="glyph-icon font-gray icon-certificate"></i>
                Important
                <span class="badge bg-azure">32</span>
            </a>
            <a href="#" class="list-group-item" title="">
                <i class="glyph-icon font-gray icon-file-text-o"></i>
                Drafts
                <span class="badge bg-azure">32</span>
            </a>
            <a href="#" class="list-group-item" title="">
                <i class="glyph-icon font-gray icon-trash-o"></i>
                Trash
                <span class="badge bg-red">45</span>
            </a>
        </div>
    </div>
    <div class="content-box  mrg15B">
        <h3 class="content-box-header clearfix">
            Chat
            <small>(Online friends)</small>
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper text-center clearfix">
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial1.jpg" alt="" />
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial2.jpg" alt="" />
                <div class="small-badge bg-orange"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial3.jpg" alt="" />
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial4.jpg" alt="" />
                <div class="small-badge bg-green"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial5.jpg" alt="" />
                <div class="small-badge bg-orange"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial6.jpg" alt="" />
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial7.jpg" alt="" />
                <div class="small-badge bg-green"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial8.jpg" alt="" />
                <div class="small-badge bg-orange"></div>
            </div>
        </div>
    </div>
    <div class="content-box  mrg15B">
        <h3 class="content-box-header clearfix">
            Circles
            <small>(Available options)</small>
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group">
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-red"></i>
                    Friends
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-green"></i>
                    Family
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                    Acquaintances
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                    Following
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                    Web developers
                </a>
            </div>
        </div>
    </div>
    <div class="content-box ">
        <h3 class="content-box-header clearfix">
            Tags
            <small>(Important notes)</small>
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group">
                <a href="#" class="list-group-item" title="">
                    Important
                    <i class="glyph-icon font-primary icon-chevron-right mrg0R"></i>
                </a>
                <a href="#" class="list-group-item" title="">
                    Starred
                    <i class="glyph-icon font-primary icon-chevron-right mrg0R"></i>
                </a>
                <a href="#" class="list-group-item" title="">
                    Forums
                    <i class="glyph-icon font-primary icon-chevron-right mrg0R"></i>
                </a>
                <a href="#" class="list-group-item" title="">
                    Updates
                    <i class="glyph-icon font-primary icon-chevron-right mrg0R"></i>
                </a>
            </div>
        </div>
    </div>

</div>
<div class="col-md-9">

    <div class="content-box">
        <div class="mail-header clearfix row">
            <div class="col-md-8">
                <div class="float-left">
                    <span class="mail-title">View message</span>
                    <div class="btn-group">
                        <a href="#" data-toggle="dropdown" class="btn btn-default btn-small dropdown-toggle"><span class="glyph-icon icon-caret-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="float-right col-md-4 pad0A">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" tabindex="-1">
                            <i class="glyph-icon icon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="pad15A clearfix mrg10B">
            <div class="float-left">
                <b>John Doe</b> (john.doe@example.com) <i>to</i> <b>me</b>
            </div>
            <div class="float-right opacity-80">
                <i class="glyph-icon icon-clock-o mrg5R"></i>
                17:55, 15.10.2014
            </div>
        </div>
        <div class="mail-toolbar clearfix">
            <div class="float-left">
                <h4 class="font-primary">This is a demo email title</h4>
            </div>
            <div class="float-right">
                <a href="#" class="btn btn-primary" title="Reply">
                    Reply
                    <i class="glyph-icon icon-mail-reply"></i>
                </a>
                <a href="#" class="btn btn-default" title="Print">
                    <i class="glyph-icon icon-print"></i>
                </a>
                <a href="#" class="btn btn-danger mrg10L" title="Delete">
                    <i class="glyph-icon icon-trash-o"></i>
                </a>
            </div>
        </div>
        <div class="email-body">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>

            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>

            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>

            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi</p>
        </div>
        <div class="button-pane">
            <a href="#" class="btn btn-blue-alt" title="Reply">
                <i class="glyph-icon icon-mail-reply"></i>
                Reply
            </a>
            <a href="#" class="btn btn-default" title="Reply">
                Forward
                <i class="glyph-icon icon-mail-forward"></i>
            </a>
        </div>
    </div>
</div>
</div>