---
title: Mailbox inbox
subheading:
---

<!-- Uniform -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/uniform/uniform.css">-->
<script type="text/javascript" src="../../assets/widgets/uniform/uniform.js"></script>
<script type="text/javascript" src="../../assets/widgets/uniform/uniform-demo.js"></script>

<div class="row mailbox-wrapper">
<div class="col-md-3">

    <div class="content-box nav-list mrg15B">
        <div class="pad10A">
            <a href="#" class="btn btn-success btn-lg btn-block" title="Compose new mail">
                Compose new mail
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item" title="">
                <i class="glyph-icon font-gray icon-inbox"></i>
                Inbox
                <span class="badge bg-blue">83</span>
            </a>
            <a href="#" class="list-group-item" title="">
                <i class="glyph-icon font-gray icon-envelope-o"></i>
                Sent Mail
                <span class="badge bg-azure">32</span>
            </a>
            <a href="#" class="list-group-item" title="">
                <i class="glyph-icon font-gray icon-certificate"></i>
                Important
                <span class="badge bg-azure">32</span>
            </a>
            <a href="#" class="list-group-item" title="">
                <i class="glyph-icon font-gray icon-file-text-o"></i>
                Drafts
                <span class="badge bg-azure">32</span>
            </a>
            <a href="#" class="list-group-item" title="">
                <i class="glyph-icon font-gray icon-trash-o"></i>
                Trash
                <span class="badge bg-red">45</span>
            </a>
        </div>
    </div>
    <div class="content-box  mrg15B">
        <h3 class="content-box-header clearfix">
            Chat
            <small>(Online friends)</small>
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper text-center clearfix">
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial1.jpg" alt="" />
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial2.jpg" alt="" />
                <div class="small-badge bg-orange"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial3.jpg" alt="" />
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial4.jpg" alt="" />
                <div class="small-badge bg-green"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial5.jpg" alt="" />
                <div class="small-badge bg-orange"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial6.jpg" alt="" />
                <div class="small-badge bg-red"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial7.jpg" alt="" />
                <div class="small-badge bg-green"></div>
            </div>
            <div class="status-badge mrg10A">
                <img class="img-circle" width="40" src="../../assets/image-resources/people/testimonial8.jpg" alt="" />
                <div class="small-badge bg-orange"></div>
            </div>
        </div>
    </div>
    <div class="content-box  mrg15B">
        <h3 class="content-box-header clearfix">
            Circles
            <small>(Available options)</small>
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group">
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-red"></i>
                    Friends
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-green"></i>
                    Family
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                    Acquaintances
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                    Following
                </a>
                <a href="#" class="list-group-item" title="">
                    <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                    Web developers
                </a>
            </div>
        </div>
    </div>
    <div class="content-box">
        <h3 class="content-box-header clearfix">
            Tags
            <small>(Important notes)</small>
            <div class="font-size-11 float-right">
                <a href="#" title="">
                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                </a>
                <a href="#" title="">
                    <i class="glyph-icon opacity-hover icon-cog"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper nav-list clearfix">
            <div class="list-group">
                <a href="#" class="list-group-item" title="">
                    Important
                    <i class="glyph-icon font-primary icon-chevron-right mrg0R"></i>
                </a>
                <a href="#" class="list-group-item" title="">
                    Starred
                    <i class="glyph-icon font-primary icon-chevron-right mrg0R"></i>
                </a>
                <a href="#" class="list-group-item" title="">
                    Forums
                    <i class="glyph-icon font-primary icon-chevron-right mrg0R"></i>
                </a>
                <a href="#" class="list-group-item" title="">
                    Updates
                    <i class="glyph-icon font-primary icon-chevron-right mrg0R"></i>
                </a>
            </div>
        </div>
    </div>

</div>
<div class="col-md-9">

<div class="content-box">
<div class="mail-header clearfix row">
    <div class="col-md-8">
        <span class="mail-title">Inbox</span>
        <div class="btn-group">
            <a href="#" data-toggle="dropdown" class="btn btn-default btn-small dropdown-toggle"><span class="glyph-icon icon-caret-down"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
    <div class="float-right col-md-4 pad0A">
        <div class="input-group">
            <input type="text" class="form-control">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" tabindex="-1">
                    <i class="glyph-icon icon-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="mail-toolbar clearfix">
    <div class="float-left">
        <a href="#" title="" class="btn btn-default mrg5R">
            <i class="glyph-icon font-size-11 icon-refresh"></i>
        </a>
        <div class="dropdown">
            <a href="#" title="" class="btn btn-default" data-toggle="dropdown">
                <i class="glyph-icon icon-cog"></i>
                <i class="glyph-icon icon-chevron-down"></i>
            </a>
            <ul class="dropdown-menu float-right">

                <li>
                    <a href="#" title="">
                        <i class="glyph-icon icon-edit mrg5R"></i>
                        Edit
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <i class="glyph-icon icon-calendar mrg5R"></i>
                        Schedule
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        <i class="glyph-icon icon-download mrg5R"></i>
                        Download
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#" class="font-red" title="">
                        <i class="glyph-icon icon-remove mrg5R"></i>
                        Delete
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="float-right">
        <div class="btn-toolbar">
            <div class="btn-group">
                <div class="size-md mrg10R">
                    1 to 11 of 21 entries
                </div>
            </div>
            <div class="btn-group">
                <a href="#" class="btn btn-default">
                    <i class="glyph-icon icon-angle-left"></i>
                </a>
                <a href="#" class="btn btn-default">
                    <i class="glyph-icon icon-angle-right"></i>
                </a>
            </div>
            <div class="btn-group mrg15L">
                <a href="#" class="btn btn-primary">
                    <i class="glyph-icon icon-list opacity-80"></i>
                    <i class="glyph-icon icon-caret-down"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover text-center">
<tbody>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-1" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Steven Koening
    </td>
    <td class="email-body">
        In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        17 Jan 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-2" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Rubin Spinella
    </td>
    <td class="email-body">
        The wise man therefore always holds in these matters to this principle of selection.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        27 Jan 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-3" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Han Gattis
    </td>
    <td class="email-body">
        We denounce with righteous
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        21 Feb 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-4" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Steven Koening
    </td>
    <td class="email-body">
        In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        17 Jan 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-5" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Rubin Spinella
    </td>
    <td class="email-body">
        The wise man therefore always holds in these matters to this principle of selection.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        27 Jan 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-6" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Lila Helwig
    </td>
    <td class="email-body">
        What we like best, every pleasure is to be welcomed and every pain avoided.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        21 Feb 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-7" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Han Gattis
    </td>
    <td class="email-body">
        We denounce with righteous
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        21 Feb 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-8" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Steven Koening
    </td>
    <td class="email-body">
        In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        17 Jan 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-9" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Rubin Spinella
    </td>
    <td class="email-body">
        The wise man therefore always holds in these matters to this principle of selection.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        27 Jan 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-10" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Lila Helwig
    </td>
    <td class="email-body">
        What we like best, every pleasure is to be welcomed and every pain avoided.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        21 Feb 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-11" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Han Gattis
    </td>
    <td class="email-body">
        We denounce with righteous
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        21 Feb 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-12" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Han Gattis
    </td>
    <td class="email-body">
        We denounce with righteous
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        21 Feb 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-13" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Steven Koening
    </td>
    <td class="email-body">
        In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        17 Jan 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-14" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Rubin Spinella
    </td>
    <td class="email-body">
        The wise man therefore always holds in these matters to this principle of selection.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        27 Jan 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-15" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Steven Koening
    </td>
    <td class="email-body">
        In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        17 Jan 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-16" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Rubin Spinella
    </td>
    <td class="email-body">
        The wise man therefore always holds in these matters to this principle of selection.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        27 Jan 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-17" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Lila Helwig
    </td>
    <td class="email-body">
        What we like best, every pleasure is to be welcomed and every pain avoided.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        21 Feb 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-18" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Han Gattis
    </td>
    <td class="email-body">
        We denounce with righteous
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        21 Feb 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-19" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Han Gattis
    </td>
    <td class="email-body">
        We denounce with righteous
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        21 Feb 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-20" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Steven Koening
    </td>
    <td class="email-body">
        In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        17 Jan 2014
    </td>
</tr>
<tr>
    <td>
        <input type="checkbox" id="mail-checkbox-21" class="custom-checkbox">
    </td>
    <td>
        <i class="glyph-icon icon-star"></i>
    </td>
    <td class="email-title">
        Rubin Spinella
    </td>
    <td class="email-body">
        The wise man therefore always holds in these matters to this principle of selection.
    </td>
    <td>
        <i class="glyph-icon icon-paperclip"></i>
    </td>
    <td>
        27 Jan 2014
    </td>
</tr>
</tbody>
</table>

</div>
</div>
</div>