---
title: Morris charts
subheading: Create line, area, bar and donut charts on the fly with this wonderful widget.
---

<div id="page-title">
    <h2>{{ title }}</h2>
    <p>{{ subheading }}</p>
    {{> page-title-content }}
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Color bars
                </h3>
                <div class="example-box-wrapper">
                    <div id="color-bar"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Labels bars
                </h3>
                <div class="example-box-wrapper">
                    <div id="labels-bar"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Stacked bars
                </h3>
                <div class="example-box-wrapper">
                    <div id="stacked-bars"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Donut
                </h3>
                <div class="example-box-wrapper">
                    <div id="donut"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Decimal data
                </h3>
                <div class="example-box-wrapper">
                    <div id="decimal-data"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Daytime bars
                </h3>
                <div class="example-box-wrapper">
                    <div id="daytime-bars"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Jaguar 'E' Type vehicles in the UK
                </h3>
                <div class="example-box-wrapper">
                    <div id="hero-graph" class="graph"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    iPhone CPU benchmarks
                </h3>
                <div class="example-box-wrapper">
                    <div id="hero-bar" class="graph"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Quarterly Apple iOS device unit sales
                </h3>
                <div class="example-box-wrapper">
                    <div id="hero-area" class="graph"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Donut flavours
                </h3>
                <div class="example-box-wrapper">
                    <div id="hero-donut" class="graph"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Morris charts -->

<script type="text/javascript" src="../../assets/js-core/raphael.js"></script>
<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/charts/morris/morris.css">-->
<script type="text/javascript" src="../../assets/widgets/charts/morris/morris.js"></script>

<!-- Morris charts demo -->

<script type="text/javascript" src="../../assets/widgets/charts/morris/morris-demo.js"></script>
