---
title: Popovers & Tooltips
subheading: Tooltips can be added to any element and provide additional information bubbles.
---

<div id="page-title">
    <h2>{{ title }}</h2>
    <p>{{ subheading }}</p>
    {{> page-title-content }}
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Bootstrap Popovers
                </h3>
                <div class="example-box-wrapper">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="display-block popover top">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Popover top</h3>
                                <div class="popover-content">
                                    Sed posuere consectetur est at lobortis. Aenean eu leo quam.
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="display-block popover right">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Popover right</h3>
                                <div class="popover-content">
                                    Pellentesque ornare sem lacinia quam venenatis vestibulum consectetur.
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="display-block popover bottom">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Popover bottom</h3>
                                <div class="popover-content">
                                    Sem lacinia quam venenatis vestibulum consectetur est at lobortis.
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="display-block popover left">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Popover left</h3>
                                <div class="popover-content">
                                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Popovers Positions
                </h3>
                <div class="example-box-wrapper">
                    <div class="text-center demo-margin">
                        <a href="#" class="btn btn-default popover-button-default btn-md" data-content="Popover content from <b>data-content</b> attribute 4" title="Left popover" data-placement="left" >
                            Left popover
                        </a>
                        <a href="#" class="btn btn-default popover-button-default btn-md" data-content="Popover content from <b>data-content</b> attribute 1" title="Top popover" data-placement="top">
                            Top popover
                        </a>
                        <a href="#" class="btn btn-default popover-button-default btn-md" data-content="Popover content from <b>data-content</b> attribute 3" title="Bottom popover" data-placement="bottom" >
                            Bottom popover
                        </a>
                        <a href="#" class="btn btn-default popover-button-default btn-md" data-content="Popover content from <b>data-content</b> attribute 2" title="Right popover" data-placement="right" >
                            Right popover
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Bootstrap Tooltips
                </h3>
                <div class="example-box-wrapper">
                    <button type="button" class="btn btn-default tooltip-button" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
                    <button type="button" class="btn btn-default tooltip-button" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>
                    <button type="button" class="btn btn-default tooltip-button" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
                    <button type="button" class="btn btn-default tooltip-button" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Popovers Triggers
                </h3>
                <div class="example-box-wrapper">
                    <a href="#" class="btn btn-default btn-md popover-button-default" data-content="Popover content from <b>data-content</b> attribute 1" title="Top popover" data-trigger="click" data-placement="top">
                        Click popover trigger</span>
                    </a>

                    <a href="#" class="btn btn-default btn-md popover-button-default" data-content="Popover content from <b>data-content</b> attribute 2" title="Right popover" data-trigger="hover" data-placement="right" >
                        Hover popover trigger</span>
                    </a>

                    <input type="text" class="form-control float-left mrg25R popover-button-default" style="width: 200px;" placeholder="Input focus trigger popover" data-content="Popover content from <b>data-content</b> attribute 3" title="Bottom popover" data-trigger="focus" data-placement="bottom">
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Popovers Data source
                </h3>
                <div class="example-box-wrapper">
                    <a href="#" class="btn btn-default btn-md popover-button" title="Top popover" data-placement="top" data-id="#popover1">
                        Content from hidden inline div
                    </a>
                    <div class="hide" id="popover1">
                        Popover content from hidden div.
                    </div>
                    <a href="#" class="btn btn-default btn-md popover-button-default" data-content="<div class='pad10A'>Popover content written in the <b>data-content</b> attribute.</div>" title="Top popover" data-placement="top">
                        Content from data-content attribute
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>