---
title: Slidebars
subheading: Toggle left or right content panels outside canvas.
---
{{> page-title-content }}

    <div class="text-center mrg25A">

        <a href="#" class="btn btn-lg btn-blue-alt sb-toggle-left" title="">Toggle left Slidebar</a>
        <a href="#" class="btn btn-lg btn-blue-alt sb-toggle-right">Toggle right Slidebar</a>
        <a href="#" class="btn btn-lg btn-blue-alt sb-open-left">Open left Slidebar</a>
        <a href="#" class="btn btn-lg btn-blue-alt sb-open-right">Open right Slidebar</a>
        <a href="#" class="btn btn-lg btn-blue-alt sb-close">Close either Slidebar</a>

    </div>