---
title: Tile boxes
subheading: Tiles can be used to build various stastistics boxes.
---

<!-- PieGage charts -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/charts/piegage/piegage.css">-->
<script type="text/javascript" src="../../assets/widgets/charts/piegage/piegage.js"></script>
<script type="text/javascript" src="../../assets/widgets/charts/piegage/piegage-demo.js"></script>

<div id="page-title">
    <h2>{{ title }}</h2>
    <p>{{ subheading }}</p>
    {{> page-title-content }}
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Info tiles
        </h3>
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="tile-box bg-primary">
                        <div class="tile-header">
                            New orders
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +55%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-bullhorn"></i>
                            <div class="tile-content">
                                <span>$</span>
                                393
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile-box bg-white content-box">
                        <div class="tile-header">
                            Revenue
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +15%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-dashboard"></i>
                            <div class="tile-content">
                                <span>$</span>
                                34,695
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile-box bg-red">
                        <div class="tile-header">
                            Orders
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +15%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-fire"></i>
                            <div class="tile-content">
                                65
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile-box bg-black">
                        <div class="tile-header">
                            Downloads
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +5%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-money"></i>
                            <div class="tile-content">
                                23,5k
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile-box bg-purple">
                        <div class="tile-header">
                            YoY Growth
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +55%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-ticket"></i>
                            <div class="tile-content">
                                <span>$</span>
                                378
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile-box bg-blue">
                        <div class="tile-header">
                            New subscriptions
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +77%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-camera"></i>
                            <div class="tile-content">
                                134
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Info tiles buttons
        </h3>
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <a href="#" title="Example box" class="tile-box btn btn-primary">
                        <div class="tile-header">
                            New orders
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +55%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-bullhorn"></i>
                            <div class="tile-content">
                                <span>$</span>
                                393
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="tile-box btn bg-white content-box">
                        <div class="tile-header">
                            Revenue
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +15%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-dashboard"></i>
                            <div class="tile-content">
                                <span>$</span>
                                34,695
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="tile-box btn btn-danger">
                        <div class="tile-header">
                            Orders
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +15%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-camera"></i>
                            <div class="tile-content">
                                65
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="tile-box btn btn-default">
                        <div class="tile-header">
                            Downloads
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +5%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-tachometer"></i>
                            <div class="tile-content">
                                23,5k
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="tile-box btn btn-warning">
                        <div class="tile-header">
                            YoY Growth
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +55%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-university"></i>
                            <div class="tile-content">
                                <span>$</span>
                                378
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="tile-box btn btn-info">
                        <div class="tile-header">
                            New subscriptions
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +77%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-retweet"></i>
                            <div class="tile-content">
                                134
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Alternate tiles
        </h3>
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="tile-box tile-box-alt bg-primary">
                        <div class="tile-header">
                            New Visitors
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-dashboard"></i>
                            <div class="tile-content">
                                <span>$</span>
                                378
                            </div>
                            <small>
                                <i class="glyph-icon icon-caret-up"></i>
                                +7,6% new users in the first quarter
                            </small>
                        </div>
                        <a href="#" class="tile-footer tooltip-button" data-placement="bottom" title="This is a link example!">
                            view details
                            <i class="glyph-icon icon-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="tile-box tile-box-alt bg-white content-box">
                        <div class="tile-header">
                            Revenue
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon font-gray icon-camera"></i>
                            <div class="tile-content">
                                <span>$</span>
                                5,937
                            </div>
                            <small>
                                <i class="glyph-icon icon-caret-up"></i>
                                +7,6% new users in the first quarter
                            </small>
                        </div>
                        <a href="#" class="tile-footer tooltip-button" data-placement="bottom" title="This is a link example!">
                            view details
                            <i class="glyph-icon icon-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile-box tile-box-alt bg-blue-alt">
                        <div class="tile-header">
                            Subscriptions
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-tag"></i>
                            <div class="tile-content">
                                <span>$</span>
                                378
                            </div>
                            <small>
                                <i class="glyph-icon icon-caret-up"></i>
                                +7,6% new users in the first quarter
                            </small>
                        </div>
                        <a href="#" class="tile-footer tooltip-button" data-placement="bottom" title="This is a link example!">
                            view details
                            <i class="glyph-icon icon-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="tile-box tile-box-alt bg-black-opacity">
                        <div class="tile-header">
                            New Visitors
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-dashboard"></i>
                            <div class="tile-content">
                                <span>$</span>
                                378
                            </div>
                            <small>
                                <i class="glyph-icon icon-caret-up"></i>
                                +7,6% new users in the first quarter
                            </small>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="tile-box tile-box-alt bg-red">
                        <div class="tile-header">
                            Revenue
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-camera"></i>
                            <div class="tile-content">
                                <span>$</span>
                                5,937
                            </div>
                            <small>
                                <i class="glyph-icon icon-caret-up"></i>
                                +7,6% new users in the first quarter
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile-box tile-box-alt bg-green">
                        <div class="tile-header">
                            Subscriptions
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-tag"></i>
                            <div class="tile-content">
                                <span>$</span>
                                378
                            </div>
                            <small>
                                <i class="glyph-icon icon-caret-up"></i>
                                +7,6% new users in the first quarter
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Tile shortcuts
        </h3>
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-primary">
                        <span class="bs-badge badge-absolute">5</span>
                        <div class="tile-header">
                            Dashboard
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-dashboard"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-black">
                        <span class="bs-badge badge-absolute">5</span>
                        <div class="tile-header">
                            Orders
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-cogs"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-danger">
                        <span class="bs-badge badge-absolute">1</span>
                        <div class="tile-header">
                            Monthly Earnings
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-file-photo-o"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-success">
                        <div class="tile-header">
                            Photo Gallery
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-desktop"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-info">
                        <span class="bs-badge badge-absolute">2</span>
                        <div class="tile-header">
                            Subscriptions
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-download"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-warning">
                        <div class="tile-header">
                            New Visitors
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-code-fork"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Easy Pie Charts
        </h3>
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-primary">
                        <div class="tile-header">
                            Dashboard
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10" data-percent="21"><span>21</span>%</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-black">
                        <div class="tile-header">
                            Orders
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10" data-percent="67"><span>67</span>%</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-danger">
                        <div class="tile-header">
                            Monthly Earnings
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10" data-percent="55"><span>55</span>%</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-success">
                        <div class="tile-header">
                            Photo Gallery
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10" data-percent="43"><span>43</span>%</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-info">
                        <div class="tile-header">
                            Subscriptions
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10" data-percent="76"><span>76</span>%</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-warning">
                        <div class="tile-header">
                            New Visitors
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10" data-percent="11"><span>11</span>%</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



