---
title: Timeline
subheading: Timelines allow you to organize information based on the time it were added.
---

<div id="page-title">
    <h2>{{ title }}</h2>
    <p>{{ subheading }}</p>
    {{> page-title-content }}
</div>
<div class="row">
    <div class="col-md-6">

        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Left timeline
                </h3>
                <div class="example-box-wrapper">
                    <div class="timeline-box timeline-box-left">
                        <div class="tl-row">
                            <div class="tl-item float-right">
                                <div class="tl-icon bg-red">
                                    <i class="glyph-icon icon-toggle-on"></i>
                                </div>
                                <div class="popover right">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <div class="tl-label bs-label label-info">Appointment</div>
                                        <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-row">
                            <div class="tl-item float-right">
                                <div class="tl-icon bg-primary">
                                    <i class="glyph-icon icon-wifi"></i>
                                </div>
                                <div class="popover right">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <div class="tl-label bs-label bg-yellow">Teleconference</div>
                                        <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-row">
                            <div class="tl-item float-right">
                                <div class="tl-icon bg-black">
                                    <i class="glyph-icon icon-headphones"></i>
                                </div>
                                <div class="popover right">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <div class="tl-label bs-label label-danger">Meeting</div>
                                        <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Right timeline
                </h3>
                <div class="example-box-wrapper">
                    <div class="timeline-box timeline-box-right">
                        <div class="tl-row">
                            <div class="tl-item">
                                <div class="tl-icon bg-yellow">
                                    <i class="glyph-icon icon-eyedropper"></i>
                                </div>
                                <div class="popover left">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <div class="tl-label bs-label label-success">Meeting</div>
                                        <p class="tl-content">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-row">
                            <div class="tl-item">
                                <div class="tl-icon bg-blue">
                                    <i class="glyph-icon icon-line-chart"></i>
                                </div>
                                <div class="popover left">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <div class="tl-label bs-label label-danger">Audio</div>
                                        <p class="tl-content">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-row">
                            <div class="tl-item">
                                <div class="tl-icon bg-blue">
                                    <i class="glyph-icon icon-cab"></i>
                                </div>
                                <div class="popover left">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <div class="tl-label bs-label label-warning">Video</div>
                                        <p class="tl-content">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Horizontal
        </h3>
        <div class="example-box-wrapper">
            <div class="timeline-scroll">

                <div class="timeline-box timeline-horizontal">
                    <div class="tl-row">
                        <div class="tl-item">
                            <div class="tl-bullet bg-red"></div>
                            <div class="tl-panel">
                                3:21 PM
                            </div>
                            <div class="popover top">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <h3 class="tl-title">Lorem ipsum</h3>
                                    <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                    <div class="tl-time">
                                        <i class="glyph-icon icon-clock-o"></i>
                                        a few seconds ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tl-row">
                        <div class="tl-item float-right">
                            <div class="tl-bullet bg-black"></div>
                            <div class="tl-panel">
                                3:21 PM
                            </div>
                            <div class="popover bottom">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <h3 class="tl-title">Lorem ipsum</h3>
                                    <p class="tl-content"> Donec odio. Quisque volutpat mattis eros. Suspendisse urna.</p>
                                    <div class="tl-time">
                                        <i class="glyph-icon icon-clock-o"></i>
                                        a few seconds ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tl-row">
                        <div class="tl-item">
                            <div class="tl-bullet bg-blue"></div>
                            <div class="tl-panel">
                                3:21 PM
                            </div>
                            <div class="popover top">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <h3 class="tl-title">Lorem ipsum</h3>
                                    <p class="tl-content">Viverra non, semper suscipit, posuere a, pede.</p>
                                    <div class="tl-time">
                                        <i class="glyph-icon icon-clock-o"></i>
                                        a few seconds ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tl-row">
                        <div class="tl-item float-right">
                            <div class="tl-bullet bg-green"></div>
                            <div class="tl-panel">
                                3:21 PM
                            </div>
                            <div class="popover bottom">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <h3 class="tl-title">Lorem ipsum</h3>
                                    <p class="tl-content">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                                    <div class="tl-time">
                                        <i class="glyph-icon icon-clock-o"></i>
                                        a few seconds ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tl-row">
                        <div class="tl-item">
                            <div class="tl-bullet bg-blue"></div>
                            <div class="tl-panel">
                                3:21 PM
                            </div>
                            <div class="popover top">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <h3 class="tl-title">Lorem ipsum</h3>
                                    <p class="tl-content">Viverra non, semper suscipit, posuere a, pede.</p>
                                    <div class="tl-time">
                                        <i class="glyph-icon icon-clock-o"></i>
                                        a few seconds ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tl-row">
                        <div class="tl-item float-right">
                            <div class="tl-bullet bg-green"></div>
                            <div class="tl-panel">
                                3:21 PM
                            </div>
                            <div class="popover bottom">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <h3 class="tl-title">Lorem ipsum</h3>
                                    <p class="tl-content">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                                    <div class="tl-time">
                                        <i class="glyph-icon icon-clock-o"></i>
                                        a few seconds ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tl-row">
                        <div class="tl-item">
                            <div class="tl-bullet bg-blue"></div>
                            <div class="tl-panel">
                                3:21 PM
                            </div>
                            <div class="popover top">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <h3 class="tl-title">Lorem ipsum</h3>
                                    <p class="tl-content">Viverra non, semper suscipit, posuere a, pede.</p>
                                    <div class="tl-time">
                                        <i class="glyph-icon icon-clock-o"></i>
                                        a few seconds ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tl-row">
                        <div class="tl-item float-right">
                            <div class="tl-bullet bg-green"></div>
                            <div class="tl-panel">
                                3:21 PM
                            </div>
                            <div class="popover bottom">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <h3 class="tl-title">Lorem ipsum</h3>
                                    <p class="tl-content">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                                    <div class="tl-time">
                                        <i class="glyph-icon icon-clock-o"></i>
                                        a few seconds ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Vertical
        </h3>
        <div class="example-box-wrapper">
            <div class="timeline-box">
                <div class="tl-row">
                    <div class="tl-item">
                        <div class="tl-bullet bg-red"></div>
                        <div class="tl-panel">
                            3:21 PM
                        </div>
                        <div class="popover left">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <h3 class="tl-title">Lorem ipsum</h3>
                                <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                                <div class="tl-time">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    a few seconds ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tl-row">
                    <div class="tl-item float-right">
                        <div class="tl-bullet bg-black"></div>
                        <div class="tl-panel">
                            3:21 PM
                        </div>
                        <div class="popover right">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <h3 class="tl-title">Lorem ipsum</h3>
                                <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis pede.</p>
                                <div class="tl-time">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    a few seconds ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tl-row">
                    <div class="tl-item">
                        <div class="tl-bullet bg-blue"></div>
                        <div class="tl-panel">
                            3:21 PM
                        </div>
                        <div class="popover left">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <h3 class="tl-title">Lorem ipsum</h3>
                                <p class="tl-content">Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                                <div class="tl-time">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    a few seconds ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tl-row demo-margin">
                    <div class="tl-item float-right">
                        <div class="tl-bullet bg-green"></div>
                        <div class="tl-panel">
                            3:21 PM
                        </div>
                        <div class="popover right">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <h3 class="tl-title">Lorem ipsum</h3>
                                <p class="tl-content">Lorem ipsum dolor sit amet, volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                                <div class="tl-time">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    a few seconds ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Vertical with icons
        </h3>
        <div class="example-box-wrapper">
            <div class="timeline-box">
                <div class="tl-row">
                    <div class="tl-item">
                        <div class="tl-icon bg-green">
                            <i class="glyph-icon icon-cog"></i>
                        </div>
                        <div class="tl-panel">
                            3:21 PM
                        </div>
                        <div class="popover left">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <div class="tl-label bs-label label-success">Meeting</div>
                                <p class="tl-content">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
                                <div class="tl-time">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    a few seconds ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tl-row">
                    <div class="tl-item float-right">
                        <div class="tl-icon bg-black">
                            <i class="glyph-icon icon-cog"></i>
                        </div>
                        <div class="tl-panel">
                            3:21 PM
                        </div>
                        <div class="popover right">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <div class="tl-label bs-label label-info">Appointment</div>
                                <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                <div class="tl-time">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    a few seconds ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tl-row">
                    <div class="tl-item">
                        <div class="tl-icon bg-green">
                            <i class="glyph-icon icon-cog"></i>
                        </div>
                        <div class="tl-panel">
                            3:21 PM
                        </div>
                        <div class="popover left">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <div class="tl-label bs-label label-success">Meeting</div>
                                <p class="tl-content">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
                                <div class="tl-time">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    a few seconds ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tl-row demo-margin">
                    <div class="tl-item float-right">
                        <div class="tl-icon bg-black">
                            <i class="glyph-icon icon-cog"></i>
                        </div>
                        <div class="tl-panel">
                            3:21 PM
                        </div>
                        <div class="popover right">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <div class="tl-label bs-label label-info">Appointment</div>
                                <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                <div class="tl-time">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    a few seconds ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>