---
title: Vector maps
subheading: Create maps using the vector maps widget.
---
<!-- Vector maps -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/maps/vector-maps/vectormaps.css">-->

<script type="text/javascript" src="../../assets/widgets/maps/vector-maps/vectormaps.js"></script>
<script type="text/javascript" src="../../assets/widgets/maps/vector-maps/world_map.js"></script>
<script type="text/javascript" src="../../assets/widgets/maps/vector-maps/de_merc_en.js"></script>
<script type="text/javascript" src="../../assets/widgets/maps/vector-maps/mall_map.js"></script>
<script type="text/javascript" src="../../assets/widgets/maps/vector-maps/vectormaps-demo.js"></script>

<div id="page-title">
    <h2>{{ title }}</h2>
    <p>{{ subheading }}</p>
    {{> page-title-content }}
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            World map
        </h3>
        <div class="example-box-wrapper">
            <div class="row">

                    <div id="world-map-gdp" class="col-md-12 center-margin" style="height: 300px;"></div>

            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Markers
        </h3>
        <div class="example-box-wrapper row">
            <div id="world-map-markers" class="col-md-10 center-margin" style="height: 300px;"></div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Available maps
        </h3>
        <div class="example-box-wrapper">
            <div class="row">

                    <div id="map-hu" class="col-md-12 center-margin" style="height: 300px;"></div>

            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Custom maps
        </h3>
        <div class="example-box-wrapper">
            <div class="row">

                        <div id="mall-map" class="col-md-12 center-margin" style="height: 300px;"></div>

            </div>
        </div>
    </div>
</div>