---
title: Blog masonry sidebar | Monarch
subheading: Responsive blog masonry layout with sidebar
---
<body>
{{> tophook }}{{> topbar }}
{{> header }}
<div class="hero-box hero-box-smaller full-bg-13 font-inverse" data-top-bottom="background-position: 50% 0px;" data-bottom-top="background-position: 50% -600px;">
    <div class="container">
        <h1 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">Blog masonry sidebar</h1>
        <p class="hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s">{{ subheading }}</p>
    </div>
    <div class="hero-overlay bg-black"></div>
</div>

<!-- Mixitup -->

<script type="text/javascript" src="../../assets/widgets/mixitup/mixitup.js"></script>
<script type="text/javascript" src="../../assets/widgets/mixitup/images-loaded.js"></script>
<script type="text/javascript" src="../../assets/widgets/mixitup/isotope.js"></script>
<script type="text/javascript" src="../../assets/widgets/mixitup/portfolio-demo.js"></script>

<script type="text/javascript">

    $( function() {

        var $container = $('.blog-masonry').imagesLoaded( function() {
            $container.isotope({
                itemSelector: '.item',
                layoutMode: 'masonry'
            });
        });

    });

</script>

<!-- Lazyload -->

<script type="text/javascript" src="../../assets/widgets/lazyload/lazyload.js"></script>
<script type="text/javascript">
    /* Lazyload */

    $(function() {
        $("img.lazy").lazyload({
            effect: "fadeIn",
            threshold: 100
        });
    });
</script>

<!-- PrettyPhoto modals -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/pretty-photo/prettyphoto.css">-->
<script type="text/javascript" src="../../assets/widgets/pretty-photo/prettyphoto.js"></script>
<script type="text/javascript">
    /* PrettyPhoto */

    $(document).ready(function() {
        $(".prettyphoto").prettyPhoto();
    });
</script>

<div id="page-content" class="container mrg25T">

    <div class="row">
        <div class="col-md-9">

            <div class="blog-masonry">

                <div class="item col-md-6">
                    <div class="blog-box panel">
                        <div class="post-image">
                            <a href="../../assets/image-resources/stock-images/img-25.jpg" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                                <img class="img-responsive lazy" src="" data-original="../../assets/image-resources/stock-images/img-25.jpg" alt="" />
                            </a>
                        </div>
                        <a class="post-title" href="blog-single.html" title="">
                            <h3>When our power of choice is untrammelled prevents</h3>
                        </a>
                        <div class="post-meta">
                                <span>
                                    <i class="glyph-icon icon-user"></i>
                                    <a href="#" title="">Thomas Edison</a>
                                </span>
                        </div>
                        <div class="post-content">
                            <p>But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted.</p>
                        </div>
                        <div class="panel-footer clearfix">
                                <span class="float-left">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    21 December 2014
                                </span>
                                <span class="float-right">
                                    <i class="glyph-icon icon-comments-o"></i>
                                    <a href="#" title="">4</a>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="item col-md-6">
                    <div class="blog-box panel">
                        <div class="post-image">
                            <a href="../../assets/image-resources/slides-bg/slide-1.jpg" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                                <img class="img-responsive lazy" src="" data-original="../../assets/image-resources/slides-bg/slide-1.jpg" alt="" />
                            </a>
                        </div>
                        <a class="post-title" href="blog-single.html" title="">
                            <h3>In a free hour, when our power of choice</h3>
                        </a>
                        <div class="post-meta">
                                <span>
                                    <i class="glyph-icon icon-user"></i>
                                    <a href="#" title="">Thomas Edison</a>
                                </span>
                        </div>
                        <div class="post-content">
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                            <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because</p>
                        </div>
                        <div class="panel-footer clearfix">
                                <span class="float-left">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    21 December 2014
                                </span>
                                <span class="float-right">
                                    <i class="glyph-icon icon-comments-o"></i>
                                    <a href="#" title="">4</a>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="item col-md-6">
                    <div class="blog-box panel">
                        <div class="post-image">
                            <a href="../../assets/image-resources/stock-images/img-26.jpg" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                                <img class="img-responsive lazy" src="" data-original="../../assets/image-resources/stock-images/img-26.jpg" alt="" />
                            </a>
                        </div>
                        <a class="post-title" href="blog-single.html" title="">
                            <h3>In a free hour, when our power of choice</h3>
                        </a>
                        <div class="post-meta">
                                <span>
                                    <i class="glyph-icon icon-user"></i>
                                    <a href="#" title="">Thomas Edison</a>
                                </span>
                        </div>
                        <div class="post-content">
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                            <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because</p>
                        </div>
                        <div class="panel-footer clearfix">
                                <span class="float-left">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    21 December 2014
                                </span>
                                <span class="float-right">
                                    <i class="glyph-icon icon-comments-o"></i>
                                    <a href="#" title="">4</a>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="item col-md-6">
                    <div class="blog-box panel">
                        <div class="post-image">
                            <a href="../../assets/image-resources/stock-images/img-27.jpg" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                                <img class="img-responsive lazy" src="" data-original="../../assets/image-resources/stock-images/img-27.jpg" alt="" />
                            </a>
                        </div>
                        <a class="post-title" href="blog-single.html" title="">
                            <h3>Pleasure itself, because it is pleasure, but because</h3>
                        </a>
                        <div class="post-meta">
                                <span>
                                    <i class="glyph-icon icon-user"></i>
                                    <a href="#" title="">Thomas Edison</a>
                                </span>
                        </div>
                        <div class="post-content">
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>
                        </div>
                        <div class="panel-footer clearfix">
                                <span class="float-left">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    21 December 2014
                                </span>
                                <span class="float-right">
                                    <i class="glyph-icon icon-comments-o"></i>
                                    <a href="#" title="">4</a>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="item col-md-6">
                    <div class="blog-box panel">
                        <div class="post-image">
                            <a href="../../assets/image-resources/stock-images/img-21.jpg" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                                <img class="img-responsive lazy" src="" data-original="../../assets/image-resources/stock-images/img-21.jpg" alt="" />
                            </a>
                        </div>
                        <a class="post-title" href="blog-single.html" title="">
                            <h3>Business it will frequently occur that</h3>
                        </a>
                        <div class="post-meta">
                                <span>
                                    <i class="glyph-icon icon-user"></i>
                                    <a href="#" title="">Thomas Edison</a>
                                </span>
                        </div>
                        <div class="post-content">
                            <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it?</p>
                        </div>
                        <div class="panel-footer clearfix">
                                <span class="float-left">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    21 December 2014
                                </span>
                                <span class="float-right">
                                    <i class="glyph-icon icon-comments-o"></i>
                                    <a href="#" title="">4</a>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="item col-md-6">
                    <div class="blog-box panel">
                        <div class="post-image">
                            <a href="../../assets/image-resources/slides-bg/slide-5.jpg" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                                <img class="img-responsive lazy" src="" data-original="../../assets/image-resources/slides-bg/slide-5.jpg" alt="" />
                            </a>
                        </div>
                        <a class="post-title" href="blog-single.html" title="">
                            <h3>Avoids pleasure itself, because it is pleasure, but because</h3>
                        </a>
                        <div class="post-meta">
                                <span>
                                    <i class="glyph-icon icon-user"></i>
                                    <a href="#" title="">Thomas Edison</a>
                                </span>
                        </div>
                        <div class="post-content">
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                            <p>No one rejects.</p>
                        </div>
                        <div class="panel-footer clearfix">
                                <span class="float-left">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    21 December 2014
                                </span>
                                <span class="float-right">
                                    <i class="glyph-icon icon-comments-o"></i>
                                    <a href="#" title="">4</a>
                                </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="divider mrg25B"></div>

            <div class="text-center">
                <ul class="pagination pagination-lg">
                    <li><a href="#">«</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>

        </div>
        <div class="col-md-3">
            {{> blog-sidebar }}
        </div>
    </div>
</div>

{{> footer }}{{> bottomhook }}